<% var data = {
  title: "MAIN",
  author: ""
  }; %><%= _.template(require('../includes/head.html').default)(data) %><%= _.template(require('../includes/header.html').default)(data) %> <main>
  <div class="page">
    <div class="breadcrumbs">
      <div class="container">
        <div class="breadcrumbs__items">
          <ul>
            <li>
              <a href="/">
                <span>
                  <img src="img/Home.svg" alt="">
                </span>
              </a>
            </li>
            <li>
              <a href="">
                <span>Каталог</span>
              </a>
            </li>
            <li>
              <span>Мясо, птица</span>
            </li>
          </ul>
        </div>
        <!-- /.breadcrumbs__items -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.breadcrumbs -->
    <div class="container">
      <div class="pageheader">
        <h1>Обязательные правила безопасности в условиях пандемии</h1>
      </div>
      <div class="pageparams">
        <div class="pageparams__item">14.05.2022</div>
      </div>
      <!-- /.pageparams -->
      <div class="pagecontent">
        <div class="pagetext pagetext_large">
          <p> Начав свою историю в 2004 году, сегодня «Мясницкий ряд» входит в пятерку лидеров на рынке мясной гастрономии Москвы и Московской области. Бренд завоевал доверие и любовь покупателей и более 1 000 000 человек подтверждают это, ежедневно наслаждаясь безупречным вкусом продукции «Мясницкий ряд». </p>
          <p> Производство продукции «Мясницкий ряд» осуществляется на базе МПЗ «Мясницкий ряд». Это высокотехнологичное предприятие, оснащенное современным оборудованием от ведущих мировых производителей, сертифицированное по международной системе ISO 22000:2005 и ХАССП. Все это гарантирует строгий контроль качества всей выпускаемой продукции, её соответствие Европейским стандартам и безопасность. На сегодняшний день, предприятие неоднократно успешно, без замечаний, прошло международный сертификационный аудит. </p>
        </div>
        <div class="pagecontent__images">
          <div class="pagecontent__image">
            <a href='img/about1.jpg' data-lightbox='pagecontent__images_1' class="pagecontent__img" data-lightbox='pagecontent__images_1'>
              <img src="img/about1.jpg" alt="">
            </a>
          </div>
          <div class="pagecontent__image">
            <a href='img/about2.jpg' data-lightbox='pagecontent__images_1' class="pagecontent__img">
              <img src="img/about2.jpg" alt="">
            </a>
          </div>
          <div class="pagecontent__image">
            <a href='img/about3.jpg' data-lightbox='pagecontent__images_1' class="pagecontent__img">
              <img src="img/about3.jpg" alt="">
            </a>
          </div>
        </div>
        <!-- /.pagecontent__images -->
      </div>
      <!-- /.pagecontent -->
      <div class="pagetext pagetext_large">
        <p> Продуктовый портфель торговой марки «Мясницкий ряд» включает в себя более 200 наименований мясных деликатесов и колбасных изделий, а также деликатесы из мяса птицы, субпродукты и полуфабрикаты. Продукция преимущественно производится по ГОСТу. Также мы гордимся собственными оригинальными рецептурами, зафиксированными в технологических условиях. </p>
        <p>Безупречный вкус и качество продуктов «Мясницкий ряд» рождаются в постоянном совершенствовании производства, безграничном уважении к покупателям и любви к собственной продукции, которой мы доверяем и выбираем для себя и своих близких каждый день. С любовью выполняя свою работу, мы обеспечиваем разнообразие ассортимента и удобный сервис для наших партнеров и покупателей. Мы делаем все, чтобы люди получали радость и удовольствие от каждой покупки свежих мясных продуктов «Мясницкий ряд» и ежедневно наслаждались их безупречным вкусом. </p>
      </div>
    </div>
    <div class="pageblock">
      <div class="aboutblock">
        <div class="container">
          <div class="aboutblock__header">
            <h2>Наши поставщики производители</h2>
          </div>
          <!-- /.aboutblock__header -->
          <div class="aboutblock__wrapper">
            <div class="aboutblock__left">
              <div class="aboutblock__video">
                <div class="video-container">
                 
                 <iframe data-loader="youtube" data-src="FAWjZPzKRSM" width="" height="" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <!-- /.video-container -->
              </div>
              <!-- /.aboutblock__video -->
            </div>
            <!-- /.aboutblock__left -->
            <div class="aboutblock__right">
              <div class="aboutblock__content">
                <div class="aboutblock__img">
                  <img src="img/logo_small.png" alt="">
                </div>
                <!-- /.aboutblock__img -->
                <div class="aboutblock__text">
                  <p class="bigtext"> Это высокотехнологичное предприятие, оснащенное современным оборудованием от ведущих мировых производителей </p>
                  <!-- /.aboutblock__text bigtext -->
                  <p>Производство продукции «Мясницкий ряд» осуществляется на базе МПЗ «Мясницкий ряд»</p>
                  <p>Все это гарантирует строгий контроль качества всей выпускаемой продукции, её соответствие Европейским стандартам и безопасность. На сегодняшний день, предприятие неоднократно успешно, без замечаний, прошло международный сертификационный аудит.</p>
                </div>
                <!-- /.aboutblock__text -->
                <div class="docblock docblock_sert">
                  <div class="docblock__icon">
                    <div class="docblock__icn">
                      <img src="img/sert.svg" alt="">
                    </div>
                  </div>
                  <!-- /.docblock__icon -->
                  <div class="docblock__main">
                    <div class="docblock__title">ISO 22000:2005 и ХАССП</div>
                    <!-- /.docblock__title -->
                    <div class="docblock__text">Сертифицированно по международной системе</div>
                    <!-- /.docblock__text -->
                  </div>
                  <!-- /.docblock__main -->
                </div>
                <!-- /.docblock docblock_sert -->
              </div>
              <!-- /.aboutblock__content -->
            </div>
            <!-- /.aboutblock__right -->
          </div>
          <!-- /.container aboutblock__wrapper -->
        </div>
        <!-- /.aboutblock -->
      </div>
      <!-- /.pageblock -->
      <div class="pageblocksl">
        <div class="imgsliderblock">
          <div class="container">
            <div class="imgslider">
              <div class="imgslider__container slider-wrapper">
                <div class="imgslider__slider">
                  <div class="imgslider__slide">
                    <div class="imgslider__item">
                      <a href='#' class="imgslider__content">
                        <div class="imgslider__img">
                          <img src="img/partner1.png" alt="">
                        </div>
                      </a>
                      <!-- /.imgslider__content -->
                    </div>
                    <!-- /.imgslider__item -->
                  </div>
                  <!-- /.imgslider__slide -->
                  <div class="imgslider__slide">
                    <div class="imgslider__item">
                      <a href='#' class="imgslider__content">
                        <div class="imgslider__img">
                          <img src="img/partner2.png" alt="">
                        </div>
                      </a>
                      <!-- /.imgslider__content -->
                    </div>
                    <!-- /.imgslider__item -->
                  </div>
                  <!-- /.imgslider__slide -->
                  <div class="imgslider__slide">
                    <div class="imgslider__item">
                      <div class="imgslider__content">
                        <div class="imgslider__img">
                          <img src="img/partner3.png" alt="">
                        </div>
                      </div>
                      <!-- /.imgslider__content -->
                    </div>
                    <!-- /.imgslider__item -->
                  </div>
                  <!-- /.imgslider__slide -->
                  <div class="imgslider__slide">
                    <div class="imgslider__item">
                      <a href='#' class="imgslider__content">
                        <div class="imgslider__img">
                          <img src="img/partner4.png" alt="">
                        </div>
                      </a>
                      <!-- /.imgslider__content -->
                    </div>
                    <!-- /.imgslider__item -->
                  </div>
                  <!-- /.imgslider__slide -->
                  <div class="imgslider__slide">
                    <div class="imgslider__item">
                      <a href='#' class="imgslider__content">
                        <div class="imgslider__img">
                          <img src="img/partner5.png" alt="">
                        </div>
                      </a>
                      <!-- /.imgslider__content -->
                    </div>
                    <!-- /.imgslider__item -->
                  </div>
                  <!-- /.imgslider__slide -->
                  <div class="imgslider__slide">
                    <div class="imgslider__item">
                      <a href='#' class="imgslider__content">
                        <div class="imgslider__img">
                          <img src="img/partner1.png" alt="">
                        </div>
                      </a>
                      <!-- /.imgslider__content -->
                    </div>
                    <!-- /.imgslider__item -->
                  </div>
                  <!-- /.imgslider__slide -->
                  <div class="imgslider__slide">
                    <div class="imgslider__item">
                      <a href='#' class="imgslider__content">
                        <div class="imgslider__img">
                          <img src="img/partner2.png" alt="">
                        </div>
                      </a>
                      <!-- /.imgslider__content -->
                    </div>
                    <!-- /.imgslider__item -->
                  </div>
                  <!-- /.imgslider__slide -->
                </div>
                <!-- /.imgslider__slider -->
                <div class="beyond-button-next">
                  <img src="img/right.svg" alt="">
                </div>
                <div class="beyond-button-prev">
                  <img src="img/left.svg" alt="">
                </div>
              </div>
              <!-- /.imgslider__container -->
            </div>
            <!-- /.imgslider -->
          </div>
          <!-- /.container -->
        </div>
        <!-- /.imgsliderblock -->
      </div>
      <!-- /.pageblocksl -->
    </div>
</main><%= _.template(require('../includes/footer.html').default)(data) %>