<% var data = {
  title: "MAIN",
  author: ""
  }; %>
<%= _.template(require('../includes/head.html').default)(data) %>
<%= _.template(require('../includes/header.html').default)(data) %>
<main>
  <div class="page">
    <div class="breadcrumbs">
      <div class="container">
        <div class="breadcrumbs__items">
          <ul>
            <li><a href="/"><span><img src="img/Home.svg" alt=""></span></a></li>
            <li><a href=""><span>Каталог</span></a></li>
            <li><span>Мясо, птица</span></li>
          </ul>
        </div><!-- /.breadcrumbs__items -->
      </div><!-- /.container -->
    </div><!-- /.breadcrumbs -->
    <div class="catalogpage">
      <div class="container">
        <div class="catalogpage__wrapper">
          <div class="catalogpage__aside catalogaside">
            <aside>
              <div class="catalogaside__back">
                <a href="#">Мясо и птица</a>
              </div>
              <div class="catalogaside__links catalogcats">
                <div class="catalogcats__item active">
                  <a href="#">
                    <span class="catalogcats__title">Все товары категории</span>
                    <span class="catalogcats__count">2 433</span>
                  </a>
                </div><!-- /.catalogcats__item -->
                <div class="catalogcats__item">
                  <a href="#">
                    <span class="catalogcats__title">Куриные недели с выгодой 10%</span>
                    <span class="catalogcats__count">58</span>
                  </a>
                </div><!-- /.catalogcats__item -->
                
                <div class="catalogcats__item">
                  <a href="#">
                    <span class="catalogcats__title">Курица </span>
                    <span class="catalogcats__count">414</span>
                  </a>
                </div><!-- /.catalogcats__item -->
                <div class="catalogcats__item">
                  <a href="#">
                    <span class="catalogcats__title">Курица </span>
                    <span class="catalogcats__count">414</span>
                  </a>
                </div><!-- /.catalogcats__item -->
                <div class="catalogcats__item">
                  <a href="#">
                    <span class="catalogcats__title">Курица </span>
                    <span class="catalogcats__count">414</span>
                  </a>
                </div><!-- /.catalogcats__item -->
                <div class="catalogcats__item">
                  <a href="#">
                    <span class="catalogcats__title">Курица </span>
                    <span class="catalogcats__count">414</span>
                  </a>
                </div><!-- /.catalogcats__item -->
                <div class="catalogcats__item">
                  <a href="#">
                    <span class="catalogcats__title">Курица </span>
                    <span class="catalogcats__count">414</span>
                  </a>
                </div><!-- /.catalogcats__item -->
                <div class="catalogcats__item">
                  <a href="#">
                    <span class="catalogcats__title">Курица </span>
                    <span class="catalogcats__count">414</span>
                  </a>
                </div><!-- /.catalogcats__item -->
                <div class="catalogcats__item">
                  <a href="#">
                    <span class="catalogcats__title">Курица </span>
                    <span class="catalogcats__count">414</span>
                  </a>
                </div><!-- /.catalogcats__item -->
                <div class="catalogcats__item">
                  <a href="#">
                    <span class="catalogcats__title">Курица </span>
                    <span class="catalogcats__count">414</span>
                  </a>
                </div><!-- /.catalogcats__item -->
                <div class="catalogcats__item">
                  <a href="#">
                    <span class="catalogcats__title">Курица </span>
                    <span class="catalogcats__count">414</span>
                  </a>
                </div><!-- /.catalogcats__item -->
                <div class="catalogcats__item">
                  <a href="#">
                    <span class="catalogcats__title">Курица </span>
                    <span class="catalogcats__count">414</span>
                  </a>
                </div><!-- /.catalogcats__item -->
                <div class="catalogcats__item">
                  <a href="#">
                    <span class="catalogcats__title">Курица </span>
                    <span class="catalogcats__count">414</span>
                  </a>
                </div><!-- /.catalogcats__item -->
                <div class="catalogcats__item">
                  <a href="#">
                    <span class="catalogcats__title">Курица </span>
                    <span class="catalogcats__count">414</span>
                  </a>
                </div><!-- /.catalogcats__item -->
                <div class="catalogcats__item">
                  <a href="#">
                    <span class="catalogcats__title">Курица </span>
                    <span class="catalogcats__count">414</span>
                  </a>
                </div><!-- /.catalogcats__item -->
                <div class="catalogcats__item">
                  <a href="#">
                    <span class="catalogcats__title">Курица </span>
                    <span class="catalogcats__count">414</span>
                  </a>
                </div><!-- /.catalogcats__item -->
                <div class="catalogcats__item">
                  <a href="#">
                    <span class="catalogcats__title">Курица </span>
                    <span class="catalogcats__count">414</span>
                  </a>
                </div><!-- /.catalogcats__item -->
                <div class="catalogcats__item">
                  <a href="#">
                    <span class="catalogcats__title">Курица </span>
                    <span class="catalogcats__count">414</span>
                  </a>
                </div><!-- /.catalogcats__item -->
                <div class="catalogcats__item">
                  <a href="#">
                    <span class="catalogcats__title">Курица </span>
                    <span class="catalogcats__count">414</span>
                  </a>
                </div><!-- /.catalogcats__item -->
                <div class="catalogcats__item">
                  <a href="#">
                    <span class="catalogcats__title">Курица </span>
                    <span class="catalogcats__count">414</span>
                  </a>
                </div><!-- /.catalogcats__item -->
                
              </div><!-- /.catalogaside__links catalogcats -->
              <div class="catalogaside__filter">
                <div class="filter">
                  <form action="">
                    <div class="filter__items">
                      <div class="filter__item filter__item_open">
                        <div class="filter__header">
                          <span>Цена, руб</span>
                        </div>
                        <div class="filter__form">
                          <!-- тут начальная и конечная цена исходя из цен в каталоге -->
                          <input type="hidden" value="0" id="limitMin1" wfd-invisible="true"/>
                          <input type="hidden" value="25000" id="limitMax1" wfd-invisible="true"/>
                          <div class="formCost">
                            <div class="formCost__inputs">
                              <div class="formCost__price_left">
                                <label for="minCost1"></label> 
                                <input type="text" id="minCost1" value="" placeholder="" class="notchanged">
                              </div>
                              <div class="formCost__price_right">
                                <label for="maxCost1"></label> 
                                <input type="text" id="maxCost1" value="" placeholder="" class="notchanged">
                              </div>
                            </div>
                          </div>
                          <div class="filter__price">
                            <div class="sliderCont">
                              <div id="sliderprice1" class="ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content">
                                <div class="ui-slider-range ui-corner-all ui-widget-header" style="left: 0%; width: 100%;"></div>
                                <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 0%;"></span><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 100%;"></span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="filter__item filter__item_open">
                        <div class="filter__header">
                          <span>Вид композиции</span>
                        </div>
                        <div class="filter__form">
                          <div class="filter__radiobuttons">
                            <div class="radiobuttons">
                              <div class="radiotype">
                                <div class="radiotype__item">
                                  <label for="radio2-1" class="radiotype__label">
                                  <span>
                                  <input type="radio" checked="checked" id="radio2-1" name="radioparam2">
                                  <span class="radiotype__text">Букет</span>
                                  </span>
                                  </label>  
                                </div>
                                <div class="radiotype__item">
                                  <label for="radio2-2" class="radiotype__label">
                                  <span>
                                  <input type="radio" id="radio2-2" name="radioparam2">
                                  <span class="radiotype__text">Цветы в коробке</span>
                                  </span>
                                  </label> 
                                </div>
                                <div class="radiotype__item"> 
                                  <label for="radio2-3" class="radiotype__label">
                                  <span>
                                  <input type="radio" id="radio2-3" name="radioparam2">
                                  <span class="radiotype__text">Монобукет</span>
                                  </span>
                                  </label>  
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="filter__item filter__item_open">
                        <div class="filter__header filter__header-js">
                          <span>Цветовая гамма</span>
                         <img src="img/filterArrow.svg">
                        </div>
                        <div class="filter__form">
                          <div class="filter__checkbox">
                            <div class="dcheckbox">
                              <label for="filter1-1" class="dcheckbox__label"><span>
                              <input type="checkbox" id="filter1-1">
                              <span class="dcheckbox__text">Розовый</span>
                              </span>
                              </label>                                  
                            </div>
                            <div class="dcheckbox">
                              <label for="filter1-2" class="dcheckbox__label"><span>
                              <input type="checkbox" checked="checked" id="filter1-2">
                              <span class="dcheckbox__text">Красный</span>
                              </span>
                              </label>                                  
                            </div>
                            <div class="dcheckbox">
                              <label for="filter1-3" class="dcheckbox__label"><span>
                              <input type="checkbox" id="filter1-3">
                              <span class="dcheckbox__text">Красный</span>
                              </span>
                              </label>                                  
                            </div>
                            <div class="dcheckbox">
                              <label for="filter1-4" class="dcheckbox__label"><span>
                              <input type="checkbox" checked="checked" id="filter1-4">
                              <span class="dcheckbox__text">Красный</span>
                              </span>
                              </label>                                  
                            </div>
                            <div class="dcheckbox">
                              <label for="filter1-5" class="dcheckbox__label"><span>
                              <input type="checkbox" id="filter1-5">
                              <span class="dcheckbox__text">Красный</span>
                              </span>
                              </label>                                  
                            </div>
                            <div class="dcheckbox">
                              <label for="filter1-6" class="dcheckbox__label"><span>
                              <input type="checkbox" id="filter1-6">
                              <span class="dcheckbox__text">Красный (гвоздики)</span>
                              </span>
                              </label>                                  
                            </div>
                            <div class="dcheckbox">
                              <label for="filter1-7" class="dcheckbox__label"><span>
                              <input type="checkbox" id="filter1-7">
                              <span class="dcheckbox__text">Красный</span>
                              </span>
                              </label>                                  
                            </div>
                            <div class="dcheckbox">
                              <label for="filter1-8" class="dcheckbox__label"><span>
                              <input type="checkbox" id="filter1-8">
                              <span class="dcheckbox__text">Красный</span>
                              </span>
                              </label>                                  
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="filter__item filter__item_open">
                        <div class="filter__header filter__header-js">
                          <span>По составу букета </span>
                         <img src="img/filterArrow.svg">
                        </div>
                        <div class="filter__form">
                          <div class="filter__checkbox">
                            <div class="dcheckbox">
                              <label for="filter2-1" class="dcheckbox__label"><span>
                              <input type="checkbox" id="filter2-1">
                              <span class="dcheckbox__text">Розы</span>
                              </span>
                              </label>                                  
                            </div>
                            <div class="dcheckbox">
                              <label for="filter2-2" class="dcheckbox__label"><span>
                              <input type="checkbox" checked="checked" id="filter2-2">
                              <span class="dcheckbox__text">Альстромерия</span>
                              </span>
                              </label>                                  
                            </div>
                            <div class="dcheckbox">
                              <label for="filter2-3" class="dcheckbox__label"><span>
                              <input type="checkbox" id="filter2-3">
                              <span class="dcheckbox__text">Анемоны</span>
                              </span>
                              </label>                                  
                            </div>
                            <div class="dcheckbox">
                              <label for="filter2-4" class="dcheckbox__label"><span>
                              <input type="checkbox" checked="checked" id="filter2-4">
                              <span class="dcheckbox__text">Герберы</span>
                              </span>
                              </label>                                  
                            </div>
                            <div class="dcheckbox">
                              <label for="filter2-5" class="dcheckbox__label"><span>
                              <input type="checkbox" id="filter2-5">
                              <span class="dcheckbox__text">Гортензии</span>
                              </span>
                              </label>                                  
                            </div>
                            <div class="dcheckbox">
                              <label for="filter2-6" class="dcheckbox__label"><span>
                              <input type="checkbox" id="filter2-6">
                              <span class="dcheckbox__text">Диантусы (гвоздики)</span>
                              </span>
                              </label>                                  
                            </div>
                            <div class="dcheckbox">
                              <label for="filter2-7" class="dcheckbox__label"><span>
                              <input type="checkbox" id="filter2-7">
                              <span class="dcheckbox__text">Ириссы</span>
                              </span>
                              </label>                                  
                            </div>
                            <div class="dcheckbox">
                              <label for="filter2-8" class="dcheckbox__label"><span>
                              <input type="checkbox" id="filter2-8">
                              <span class="dcheckbox__text">Каллы</span>
                              </span>
                              </label>                                  
                            </div>
                            <div class="dcheckbox">
                              <label for="filter2-9" class="dcheckbox__label"><span>
                              <input type="checkbox" id="filter2-9">
                              <span class="dcheckbox__text">Альстромерия</span>
                              </span>
                              </label>                                  
                            </div>
                            <div class="dcheckbox">
                              <label for="filter2-10" class="dcheckbox__label"><span>
                              <input type="checkbox" id="filter2-10">
                              <span class="dcheckbox__text">Розы</span>
                              </span>
                              </label>                                  
                            </div>
                            <div class="dcheckbox">
                              <label for="filter2-11" class="dcheckbox__label"><span>
                              <input type="checkbox" id="filter2-11">
                              <span class="dcheckbox__text">Розы</span>
                              </span>
                              </label>                                  
                            </div>
                            <div class="dcheckbox">
                              <label for="filter2-21" class="dcheckbox__label"><span>
                              <input type="checkbox" id="filter2-21">
                              <span class="dcheckbox__text">Розы</span>
                              </span>
                              </label>                                  
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="filter__item filter__item_close">
                        <div class="filter__header filter__header-js">
                          <span>Вид скрытого</span>
                         <img src="img/filterArrow.svg">
                        </div>
                        <div class="filter__form">
                          <div class="filter__checkbox">
                            <div class="dcheckbox">
                              <label for="filter31" class="dcheckbox__label"><span>
                              <input type="checkbox" id="filter31">
                              <span class="dcheckbox__text">1</span>
                              </span>
                              </label>                                  
                            </div>
                            <div class="dcheckbox">
                              <label for="filter32" class="dcheckbox__label"><span>
                              <input type="checkbox" checked="checked" id="filter32">
                              <span class="dcheckbox__text">2</span>
                              </span>
                              </label>                                  
                            </div>
                            <div class="dcheckbox">
                              <label for="filter33" class="dcheckbox__label"><span>
                              <input type="checkbox" id="filter33">
                              <span class="dcheckbox__text">3</span>
                              </span>
                              </label>                                  
                            </div>
                            <div class="dcheckbox">
                              <label for="filter34" class="dcheckbox__label"><span>
                              <input type="checkbox" checked="checked" id="filter34">
                              <span class="dcheckbox__text">4</span>
                              </span>
                              </label>                                  
                            </div>
                            <div class="dcheckbox">
                              <label for="filter35" class="dcheckbox__label"><span>
                              <input type="checkbox" id="filter35">
                              <span class="dcheckbox__text">5</span>
                              </span>
                              </label>                                  
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="filter__buttons"><a href="" class="btn_main btn_main_reset">Сбросить фильтр</a></div>
                  </form>
                </div>
              </div><!-- /.catalogaside__filter -->
            </aside>
          </div><!-- /.catalogpage__aside -->
          <div class="catalogpage__main"></div><!-- /.catalogpage__main -->
        </div><!-- /.catalogpage__wrapper -->
      </div><!-- /.container -->
    </div><!-- /.catalogpage -->
  </div><!-- /.page -->  
</main>
<%= _.template(require('../includes/footer.html').default)(data) %>