<% var data = {
  title: "MAIN",
  author: ""
  }; %>
<%= _.template(require('../includes/head.html').default)(data) %>
<%= _.template(require('../includes/header.html').default)(data) %>
<main>
  <div class="page">
    <div class="breadcrumbs">
      <div class="container">
        <div class="breadcrumbs__items">
          <ul>
            <li><a href="/"><span><img src="img/Home.svg" alt=""></span></a></li>
            <li><a href=""><span>Каталог</span></a></li>
            <li><span>Мясо, птица</span></li>
          </ul>
        </div><!-- /.breadcrumbs__items -->
      </div><!-- /.container -->
    </div><!-- /.breadcrumbs -->
    <div class="catalogpage">
      <div class="container">
        <div class="catalogpage__wrapper">
          <div class="catalogpage__aside catalogaside">
            <aside>
              <div class="catalogaside__back">
                <a href="#">Мясо и птица</a>
              </div>
              <div class="catalogaside__links catalogcats">
                <div class="catalogcats__item active">
                  <a href="#">
                    <span class="catalogcats__title">Все товары категории</span>
                    <span class="catalogcats__count">2 433</span>
                  </a>
                </div><!-- /.catalogcats__item -->
                <div class="catalogcats__item">
                  <a href="#">
                    <span class="catalogcats__title">Куриные недели с выгодой 10%</span>
                    <span class="catalogcats__count">58</span>
                  </a>
                </div><!-- /.catalogcats__item -->
                
                <div class="catalogcats__item">
                  <a href="#">
                    <span class="catalogcats__title">Курица </span>
                    <span class="catalogcats__count">414</span>
                  </a>
                </div><!-- /.catalogcats__item -->
                <div class="catalogcats__item">
                  <a href="#">
                    <span class="catalogcats__title">Курица </span>
                    <span class="catalogcats__count">414</span>
                  </a>
                </div><!-- /.catalogcats__item -->
                <div class="catalogcats__item">
                  <a href="#">
                    <span class="catalogcats__title">Курица </span>
                    <span class="catalogcats__count">414</span>
                  </a>
                </div><!-- /.catalogcats__item -->
                <div class="catalogcats__item">
                  <a href="#">
                    <span class="catalogcats__title">Курица </span>
                    <span class="catalogcats__count">414</span>
                  </a>
                </div><!-- /.catalogcats__item -->
                <div class="catalogcats__item">
                  <a href="#">
                    <span class="catalogcats__title">Курица </span>
                    <span class="catalogcats__count">414</span>
                  </a>
                </div><!-- /.catalogcats__item -->
                <div class="catalogcats__item">
                  <a href="#">
                    <span class="catalogcats__title">Курица </span>
                    <span class="catalogcats__count">414</span>
                  </a>
                </div><!-- /.catalogcats__item -->
                <div class="catalogcats__item">
                  <a href="#">
                    <span class="catalogcats__title">Курица </span>
                    <span class="catalogcats__count">414</span>
                  </a>
                </div><!-- /.catalogcats__item -->
                <div class="catalogcats__item">
                  <a href="#">
                    <span class="catalogcats__title">Курица </span>
                    <span class="catalogcats__count">414</span>
                  </a>
                </div><!-- /.catalogcats__item -->
                <div class="catalogcats__item">
                  <a href="#">
                    <span class="catalogcats__title">Курица </span>
                    <span class="catalogcats__count">414</span>
                  </a>
                </div><!-- /.catalogcats__item -->
                <div class="catalogcats__item">
                  <a href="#">
                    <span class="catalogcats__title">Курица </span>
                    <span class="catalogcats__count">414</span>
                  </a>
                </div><!-- /.catalogcats__item -->
                <div class="catalogcats__item">
                  <a href="#">
                    <span class="catalogcats__title">Курица </span>
                    <span class="catalogcats__count">414</span>
                  </a>
                </div><!-- /.catalogcats__item -->
                <div class="catalogcats__item">
                  <a href="#">
                    <span class="catalogcats__title">Курица </span>
                    <span class="catalogcats__count">414</span>
                  </a>
                </div><!-- /.catalogcats__item -->
                <div class="catalogcats__item">
                  <a href="#">
                    <span class="catalogcats__title">Курица </span>
                    <span class="catalogcats__count">414</span>
                  </a>
                </div><!-- /.catalogcats__item -->
                <div class="catalogcats__item">
                  <a href="#">
                    <span class="catalogcats__title">Курица </span>
                    <span class="catalogcats__count">414</span>
                  </a>
                </div><!-- /.catalogcats__item -->
                <div class="catalogcats__item">
                  <a href="#">
                    <span class="catalogcats__title">Курица </span>
                    <span class="catalogcats__count">414</span>
                  </a>
                </div><!-- /.catalogcats__item -->
                <div class="catalogcats__item">
                  <a href="#">
                    <span class="catalogcats__title">Курица </span>
                    <span class="catalogcats__count">414</span>
                  </a>
                </div><!-- /.catalogcats__item -->
                <div class="catalogcats__item">
                  <a href="#">
                    <span class="catalogcats__title">Курица </span>
                    <span class="catalogcats__count">414</span>
                  </a>
                </div><!-- /.catalogcats__item -->
                <div class="catalogcats__item">
                  <a href="#">
                    <span class="catalogcats__title">Курица </span>
                    <span class="catalogcats__count">414</span>
                  </a>
                </div><!-- /.catalogcats__item -->
                
              </div><!-- /.catalogaside__links catalogcats -->
              <div class="catalogaside__filter">
                <div class="filter">
                  <form action="">
                    <div class="filter__items">
                      
                     <!--  <div class="filter__item filter__item_open">
                        <div class="filter__header filter__header-js">
                          <span>Предложения</span>
                         <img src="img/filterArrow.svg">
                        </div>
                        <div class="filter__form">
                          <div class="filter__radiobuttons">
                            <div class="radiobuttons">
                              <div class="radiotype">
                                <div class="radiotype__item">
                                  <label for="radio2-1" class="radiotype__label">
                                  <span>
                                  <input type="radio" checked="checked" id="radio2-1" name="radioparam2">
                                  <span class="radiotype__text">Предложения</span>
                                  </span>
                                  </label>  
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div> -->
                      <div class="filter__item filter__item_open">
                        <div class="filter__header filter__header-js">
                          <span>Предложения</span>
                         <img src="img/filterArrow.svg">
                        </div>
                        <div class="filter__form">
                          <div class="filter__checkbox">
                            <div class="dcheckbox">
                              <label for="filter1-1" class="dcheckbox__label"><span>
                              <input type="checkbox" id="filter1-1">
                              <span class="dcheckbox__text">В наличии <span class='dcheckbox__count'> 241</span></span>
                              </span>
                              </label>                                  
                            </div>
                            <div class="dcheckbox">
                              <label for="filter1-2" class="dcheckbox__label"><span>
                              <input type="checkbox" checked="checked" id="filter1-2">
                              <span class="dcheckbox__text">Участвует в акции <span class='dcheckbox__count'>43</span></span>
                              </span>
                              </label>                                  
                            </div>
                            <div class="dcheckbox">
                              <label for="filter1-3" class="dcheckbox__label"><span>
                              <input type="checkbox" id="filter1-3">
                              <span class="dcheckbox__text">Хиты продаж <span class='dcheckbox__count'>21</span></span>
                              </span>
                              </label>                                  
                            </div>
                            <div class="dcheckbox">
                              <label for="filter1-4" class="dcheckbox__label"><span>
                              <input type="checkbox" checked="checked" id="filter1-4">
                              <span class="dcheckbox__text">Новинки <span class='dcheckbox__count'>8</span></span>
                              </span>
                              </label>                                  
                            </div>
                          
                          </div>
                        </div>
                      </div>
                      <div class="filter__item filter__item_open">
                        <div class="filter__header filter__header-js">
                          <span>Цена, ₽</span>
                         <img src="img/filterArrow.svg">
                        </div>
                        <div class="filter__form">
                          <!-- тут начальная и конечная цена исходя из цен в каталоге -->
                          <input type="hidden" value="0" id="limitMin1" wfd-invisible="true"/>
                          <input type="hidden" value="750" id="limitMax1" wfd-invisible="true"/>

                         
                          <div class="filter__price">
                            <div class="sliderCont">
                              <div id="sliderprice1" class="ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content">
                                <div class="ui-slider-range ui-corner-all ui-widget-header" style="left: 0%; width: 100%;"></div>
                                <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 0%;"></span>
                                <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 100%;"></span>
                              </div>
                            </div>
                          </div>
                          <div class="formCost">
                            <div class="formCost__inputs">
                              <div class="formCost__price_left">
                                <label for="minCost1"></label> 
                                <input type="text" id="minCost1" value="" placeholder="" class="notchanged">
                              </div>
                              <span class='formCost__delimeter'></span>
                              <div class="formCost__price_right">
                                <label for="maxCost1"></label> 
                                <input type="text" id="maxCost1" value="" placeholder="" class="notchanged">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="filter__buttons"><a href="" class="btn_main btn_main_reset">Сбросить фильтр</a></div>
                  </form>
                </div>
              </div><!-- /.catalogaside__filter -->
            </aside>
          </div><!-- /.catalogpage__aside -->
          <div class="catalogpage__main"></div><!-- /.catalogpage__main -->
        </div><!-- /.catalogpage__wrapper -->
      </div><!-- /.container -->
    </div><!-- /.catalogpage -->
  </div><!-- /.page -->  
</main>
<%= _.template(require('../includes/footer.html').default)(data) %>