<% var data = {
  title: "MAIN",
  author: ""
  }; %><%= _.template(require('../includes/head.html').default)(data) %><%= _.template(require('../includes/header.html').default)(data) %> <main>
  <div class="page">
    <div class="breadcrumbs">
      <div class="container">
        <div class="breadcrumbs__items">
          <ul>
            <li>
              <a href="/">
                <span>
                  <img src="img/Home.svg" alt="">
                </span>
              </a>
            </li>
            <li>
              <a href="">
                <span>Каталог</span>
              </a>
            </li>
            <li>
              <span>Мясо, птица</span>
            </li>
          </ul>
        </div>
        <!-- /.breadcrumbs__items -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.breadcrumbs -->
    <div class="container">
      <div class="pageheader pageheader__type2">
        <h1>Доставка и оплата</h1>
      </div>
      <div class="customblock customblock_flex">
        <div class="customblock__left">
          <div class="customblock__content">
            <div class="customblock__title">
              <h2>Условия доставки</h2>
            </div>
            <!-- /.customblock__title -->
            <div class="customblock__block">
              <div class="customblock__subtitle">Минимальная сумма заказа 500 рублей!</div>
              <div class="customblock__list listicon">
                <ul>
                  <li>Стоимость доставки – 249 рублей.</li>
                  <li>При заказе от 2000 рублей БЕСПЛАТНО.</li>
                  <li>При заказе от 500 рублей с доставкой по Одинцовскому г. о. БЕСПЛАТНО.</li>
                </ul>
              </div>
              <!-- /.customblock__list -->
            </div>
            <!-- /.customblock__block -->
            <div class="customblock__block">
              <div class="customblock__subtitle">Доставка осуществляется ежедневно без выходных.</div>
              <div class="customblock__list listicon">
                <ul>
                  <li>Заказ, сделанный до 21:00, доставим на следующий день.</li>
                  <li>Заказ, оформленный после 21:00, привезем через день.</li>
                  <li>Заказы с доставкой по Одинцовскому г. о., сделанные до 14:00, доставим в этот же день.</li>
                  <li>Доставка по Москве возможна только на следующий день.</li>
                </ul>
              </div>
              <!-- /.customblock__list -->
            </div>
            <!-- /.customblock__block -->
            <div class="customblock__block">
              <div class="customblock__subtitle">Интервалы доставки:</div>
              <div class="pagebadge">
                <div class="pagebadge__items">
                  <div class="pagebadge__item">
                    <span>с 13-00 до 16-00</span>
                  </div>
                  <div class="pagebadge__item">
                    <span>с 16-00 до 19-00</span>
                  </div>
                  <div class="pagebadge__item">
                    <span>с 19-00 до 22-00</span>
                  </div>
                </div>
                <!-- /.pagebadge__items -->
              </div>
              <!-- /.pagebadge -->
            </div>
            <!-- /.customblock__block -->
          </div>
          <!-- /.customblock__content -->
        </div>
        <!-- /.customblock__left -->
        <div class="customblock__right">
          <div class="customblock__image">
            <img src="img/delivery.png" alt="">
          </div>
        </div>
        <!-- /.customblock__right -->
      </div>
      <!-- /.customblock -->
      <div class="customblock ">
        <div class="customblock__content">
          <div class="customblock__title">
            <h2>Способы оплаты</h2>
          </div>
          <!-- /.customblock__title -->
          <div class="pagecard">
            <div class="pagecard__image">
              <div class="pagecard__icon">
                <img src="img/BankCards.svg" alt="">
              </div>
            </div>
            <div class="pagecard__content">
              <div class="pagecard__title">ONLINE на сайте</div>
              <div class="pagecard__text">На данный момент на сайте возможен только один способ оплаты - оплата онлайн</div>
              <!-- /.pagecard__text -->
            </div>
            <!-- /.pagecard__content -->
          </div>
          <!-- /.pagecard -->
        </div>
        <!-- /.customblock__content -->
      </div>
      <!-- /.customblock -->
      <div class="customblock">
        <div class="customblock__title">
          <h2>Заказать через партнеров</h2>
        </div>
        <div class="partners__items">
          <div class="partners__item">
            <div class="partners__content">
              <noindex>
                <div class="partners__image">
                  <a href="//www.ozon.ru/brand/myasnitskiy-ryad-137844783/" target="_blank" rel="nofollow">
                    <img src="img/ozon.svg" alt="">
                  </a>
                </div>
                <!-- /.partners__image -->
              </noindex>
            </div>
            <!-- /.partners__content -->
          </div>
          <!-- /.partners__item -->
          <div class="partners__item">
            <div class="partners__content">
              <noindex>
                <div class="partners__image">
                  <a href="//www.utkonos.ru/brands/mjasnickij-rjad" target="_blank" rel="nofollow">
                    <img src="img/utkonos.svg" alt="">
                  </a>
                </div>
                <!-- /.partners__image -->
              </noindex>
            </div>
            <!-- /.partners__content -->
          </div>
          <!-- /.partners__item -->
          <div class="partners__item">
            <div class="partners__content">
              <noindex>
                <div class="partners__image">
                  <a href="//www.komus.ru/trademarks/%D0%9C%D1%8F%D1%81%D0%BD%D0%B8%D1%86%D0%BA%D0%B8%D0%B9+%D1%80%D1%8F%D0%B4/t/9369/" target="_blank" rel="nofollow">
                    <img src="img/komus.svg" alt="">
                  </a>
                </div>
                <!-- /.partners__image -->
              </noindex>
            </div>
            <!-- /.partners__content -->
          </div>
          <!-- /.partners__item -->
          <div class="partners__item">
            <div class="partners__content">
              <noindex>
                <div class="partners__image" style="height: 60px">
                  <a href="https://sbermarket.ru/?utm_source=Partners&amp;utm_medium=referral&amp;utm_campaign=partners_standart_last-001&amp;is_retargeting=true&amp;shortlink=717aef7d&amp;c=partners_standart_last-001&amp;pid=Partners&amp;deep_link_value=sbermarket://&amp;af_click_lookback=7d&amp;af_adset=standart" target="_blank" rel="nofollow">
                    <img src="img/sbermarket.gif" alt="">
                  </a>
                </div>
              </noindex>
            </div>
          </div>
          <div class="partners__item">
            <div class="partners__content">
              <noindex>
                <div class="partners__image">
                  <a href="//www.ozon.ru/brand/myasnitskiy-ryad-137844783/" target="_blank" rel="nofollow">
                    <img src="img/ozon_fresh.jpg" alt="">
                  </a>
                </div>
                <!-- /.partners__image -->
              </noindex>
            </div>
            <!-- /.partners__content -->
          </div>
          <!-- /.partners__item -->
          <!-- <div class="partners__item"><div class="partners__content"><div class="partners__image"><a href="#" target="_blank"><img src="img/perekrestok.svg" alt=""></a></div></div></div> -->
        </div>
        <!-- /.partners__items -->
      </div>
      <div class="customblock">
        <div class="customblock__title">
          <h2>Территория доставки</h2>
        </div>
        <!-- заглушка карты -->
        <div class="deliverymap" id='delivery_map'>
          <img src="img/map.jpg" alt="">
        </div>
        <!-- /.deliverumap -->
      </div>
    </div>
  </div>
</main><%= _.template(require('../includes/footer.html').default)(data) %>