<% var data = {
  title: "MAIN",
  author: ""
  }; %><%= _.template(require('../includes/head.html').default)(data) %><%= _.template(require('../includes/header.html').default)(data) %> 

 <main>
  <div class="page">
    <div class="breadcrumbs">
      <div class="container">
        <div class="breadcrumbs__items">
          <ul>
            <li>
              <a href="/">
                <span>
                  <img src="img/Home.svg" alt="">
                </span>
              </a>
            </li>
            <li>
              <a href="">
                <span>Каталог</span>
              </a>
            </li>
            <li>
              <span>Мясо, птица</span>
            </li>
          </ul>
        </div>
        <!-- /.breadcrumbs__items -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.breadcrumbs -->
    <div class="container">
      <div class="pageheader pageheader__type2">
        <h1>Доставка и оплата</h1>
      </div>
      <div class="customblock customblock_flex">
        <div class="customblock__left">
          <div class="customblock__content">
            <div class="customblock__title">
              <h2>Условия доставки</h2>
            </div><!-- /.customblock__title -->
            <div class="customblock__block">
              <div class="customblock__subtitle">Минимальная сумма заказа 500 рублей!</div>
              <div class="customblock__list listicon">
                <ul>
                  <li>Стоимость доставки – 249 рублей.</li>
                  <li>При заказе от 2000 рублей БЕСПЛАТНО.</li>
                  <li>При заказе от 500 рублей с доставкой по Одинцовскому г. о. БЕСПЛАТНО.</li>
                </ul>
              </div><!-- /.customblock__list -->
            </div><!-- /.customblock__block -->
            <div class="customblock__block">
              <div class="customblock__subtitle">Доставка осуществляется ежедневно без выходных.</div>
              <div class="customblock__list listicon">
                <ul>
                  <li>Заказ, сделанный до 21:00, доставим на следующий день.</li>
                  <li>Заказ, оформленный после 21:00, привезем через день.</li>
                  <li>Заказы с доставкой по Одинцовскому г. о., сделанные до 14:00, доставим в этот же день.</li>
                  <li>Доставка по Москве возможна только на следующий день.</li>
                </ul>
              </div><!-- /.customblock__list -->
            </div><!-- /.customblock__block -->
            <div class="customblock__block">
              <div class="customblock__subtitle">Интервалы доставки:</div>
              <div class="pagebadge">
                <div class="pagebadge__items">
                  <div class="pagebadge__item"><span>с 13-00 до 16-00</span></div>
                  <div class="pagebadge__item"><span>с 16-00 до 19-00</span></div>
                  <div class="pagebadge__item"><span>с 19-00 до 22-00</span></div>
                </div><!-- /.pagebadge__items -->
              </div><!-- /.pagebadge -->
            </div><!-- /.customblock__block -->
          </div><!-- /.customblock__content -->
        </div><!-- /.customblock__left -->
        <div class="customblock__right">
          <div class="customblock__image"><img src="img/delivery.png" alt=""></div>
        </div><!-- /.customblock__right -->
      </div><!-- /.customblock -->
    </div>
  </div> 
     
</main>
<%= _.template(require('../includes/footer.html').default)(data) %>