<% var data = {
  title: "MAIN",
  author: ""
  }; %>
<%= _.template(require('../includes/head.html').default)(data) %>
<%= _.template(require('../includes/header.html').default)(data) %>
<main>
  <div class="mainslider">
    <div class="container">
      <div class="mainslider__wrapper">
        <div class="swiper mainswiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <a href="#"><img src="img/slide1.jpg" /></a>
            </div>
            <div class="swiper-slide">
              <a href="#"><img src="img/slide2.jpg" /></a>
            </div>
            <div class="swiper-slide">
              <a href="#"><img src="img/slide3.jpg" /></a>
            </div>
            <div class="swiper-slide">
              <a href="#"><img src="img/slide4.jpg" /></a>
            </div>
          </div>
        </div>
        <div thumbsSlider="" class="swiper mainswiperpreview">
          <div class="swiper-scrollbar"></div>
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="img/slide1.jpg" />
            </div>
            <div class="swiper-slide">
              <img src="img/slide2.jpg" />
            </div>
            <div class="swiper-slide">
              <img src="img/slide3.jpg" />
            </div>
            <div class="swiper-slide">
              <img src="img/slide4.jpg" />
            </div>
          </div>
        </div>
      </div>
      <!-- /.mainslider__wrapper -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.mainslider -->
  <div class="pageblock indexcat">
    <div class="container">
      <h2>Популярное</h2>
      <div class="indexcat__items">
        <div class="indexcat__item indexcat__item_large">
          <a href="#" class='indexcat__link'>
            <div class="indexcat__wrapper" style='background-color: #E9F2FF; '>
              <div class="indexcat__content">
                <div class="indexcat__header">
                  <div class="indexcat__title">Полуфабрикаты</div>
                  <div class="indexcat__count">106 позиций</div>
                </div>
                <div class="indexcat__text">Только лучшие качественные полуфабрикаты заморожены исключительно сухой заморозкой и сохранающие свой вкус!</div>
              </div>
              <!-- /.indexcat__content -->
              <div class="indexcat__image"><img src="img/indexcat-1.png" alt=""></div>
            </div>
            <!-- /.indexcat__wrapper -->
          </a>
        </div>
        <!-- /.indexcat__item indexcat__large -->
        <div class="indexcat__item">
          <a href="#" class='indexcat__link'>
            <div class="indexcat__wrapper" style='background-color: #FFF7E9;'>
              <div class="indexcat__content">
                <div class="indexcat__header">
                  <div class="indexcat__title">Мясные консервы</div>
                  <div class="indexcat__count">106 позиций</div>
                </div>
              </div>
              <!-- /.indexcat__content -->
              <div class="indexcat__image"><img src="img/indexcat-2.png" alt=""></div>
            </div>
            <!-- /.indexcat__wrapper -->
          </a>
        </div>
        <!-- /.indexcat__item -->
        <div class="indexcat__item">
          <a href="#" class='indexcat__link'>
            <div class="indexcat__wrapper" style='background-color: #E2F3FF;'>
              <div class="indexcat__content">
                <div class="indexcat__header">
                  <div class="indexcat__title">Морепродукты</div>
                  <div class="indexcat__count">106 позиций</div>
                </div>
              </div>
              <!-- /.indexcat__content -->
              <div class="indexcat__image"><img src="img/indexcat-3.png" alt=""></div>
            </div>
            <!-- /.indexcat__wrapper -->
          </a>
        </div>
        <!-- /.indexcat__item -->
        <div class="indexcat__item">
          <a href="#" class='indexcat__link'>
            <div class="indexcat__wrapper" style='background-color: #FFF8E9;'>
              <div class="indexcat__content">
                <div class="indexcat__header">
                  <div class="indexcat__title">Молочные продукты</div>
                  <div class="indexcat__count">106 позиций</div>
                </div>
              </div>
              <!-- /.indexcat__content -->
              <div class="indexcat__image"><img src="img/indexcat-4.png" alt=""></div>
            </div>
            <!-- /.indexcat__wrapper -->
          </a>
        </div>
        <!-- /.indexcat__item -->
        <div class="indexcat__item">
          <a href="#" class='indexcat__link'>
            <div class="indexcat__wrapper" style='background-color: #FFE9E9;'>
              <div class="indexcat__content">
                <div class="indexcat__header">
                  <div class="indexcat__title">Фрукты, овощи</div>
                  <div class="indexcat__count">106 позиций</div>
                </div>
              </div>
              <!-- /.indexcat__content -->
              <div class="indexcat__image"><img src="img/indexcat-5.png" alt=""></div>
            </div>
            <!-- /.indexcat__wrapper -->
          </a>
        </div>
        <!-- /.indexcat__item -->
        <div class="indexcat__item indexcat__item_large">
          <a href="#" class='indexcat__link'>
            <div class="indexcat__wrapper" style='background-color: #E9F2FF; '>
              <div class="indexcat__content">
                <div class="indexcat__header">
                  <div class="indexcat__title">На шашлык</div>
                  <div class="indexcat__count">106 позиций</div>
                </div>
                <div class="indexcat__text">Только лучшие качественные полуфабрикаты заморожены исключительно сухой заморозкой и сохранающие свой вкус!</div>
              </div>
              <!-- /.indexcat__content -->
              <div class="indexcat__image"><img src="img/indexcat-6.png" alt=""></div>
            </div>
            <!-- /.indexcat__wrapper -->
          </a>
        </div>
        <!-- /.indexcat__item indexcat__large -->
      </div>
      <!-- /.indexcat__items -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.pageblock indexcat -->
  <div class="pageblock productslider">
  <div class="container">
    <div class="blockheader flex items-center content-between">
      <div class="blockheader__left">
        <h2>Хиты</h2>
        <a href="#">Смотреть все</a>   
      </div>
      <!-- /.blockheader__left -->
      <div>
        <div class="sliderarrows flex">
          <div class="sliderarrows__left">
            <img src="img/left.svg" alt="">
          </div>
          <!-- /.sliderarrows__left -->
          <div class="sliderarrows__right">
            <img src="img/right.svg" alt="">
          </div>
          <!-- /.sliderarrows__right -->
        </div>
        <!-- /.sliderarrows -->
      </div>
    </div>
    <!-- /.blockheader -->
    <div class="productslider__wrapper">
      <div class="productslider__container">
        <div class="productslider__slider">
          <div class="productslider__slide">
            <div class="productslider__item">
              <div class="productcard">
                <div class="productcard__wrapper">
                  <div class="productcard__images">
                    <div class="productcard__img">
                      <img src="img/product.jpg" data-hover-slides="img/indexcat-2.png, img/indexcat-3.png, img/indexcat-4.png" alt="">
                    </div>
                  </div>
                  <!-- /.productcard__images -->
                  <div class="productcard__rating">
                    <div class="cardrating">
                      <div class="cardrating__item">
                        <div class="cardrating__form">
                          <div class="cardrating__value">
                            <span>3.5</span>
                          </div>
                          <span class="score">
                            <div class="score-wrap">
                              <span class="rat-stars-active stars-active">
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star" aria-hidden="true"></i>
                              </span>
                              <span class="stars-inactive">
                              <i class="fa fa-star-o" aria-hidden="true"></i>
                              <i class="fa fa-star-o" aria-hidden="true"></i>
                              <i class="fa fa-star-o" aria-hidden="true"></i>
                              <i class="fa fa-star-o" aria-hidden="true"></i>
                              <i class="fa fa-star-o" aria-hidden="true"></i>
                              </span>
                            </div>
                          </span>
                        </div>
                        <div class="productcard__count">453</div>
                      </div>
                    </div>
                    </div>
                    <div class="productcard__title">
                      <a href="">Шейка копчено-вареная Московская</a>
                    </div>
                    <div class="productcard__buy">
                      <div class="productcard__prices">
                        <div class="productcard__topprice">
                          <div class="productcard__oldprice">762.92</div>
                          <div class="productcard__badge">12%</div>
                        </div>
                        <!-- /.productcard__oldprice -->
                        <div class="productcard__mainprice">
                          <div class="productcard__price">
                            <div class="productcard__pricevalue">674.94</div>
                            <div class="productcard__priceunit">₽/кг</div>
                          </div>
                          <!-- /.productcard__price -->
                        </div>
                        <!-- /.productcard__mainprice -->
                      </div>
                      <!-- /.productcard__prices -->
                      <div class="productcard__button">
                        <button class="productcard__addtocart btn btn_main">
                        <img src="img/addtocart.svg" alt="">
                        </button>
                      </div>
                    </div>
                    <!-- /.productcard__buy -->
                    <div class="productcard__info">
                      <div class="productcard__infoicon">
                        <img src="img/productcard__info.svg" alt="">
                      </div>
                      <div class="productcard__infotext">Доставим сегодня</div>
                    </div>
                    <!-- /.productcard__info -->
                  </div>
                  <!-- /.productcard__wrapper -->
                </div>
                <!-- /.productcard -->
              </div>
              <!-- /.productslider__item -->
            </div>
            <!-- /.productslider__slide -->
          </div>
          <!-- /.productslider__slider -->
        </div>
        <!-- /.productslider__container -->
      </div>
      <!-- /.productslider__wrapper -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.pageblock -->

  <div class="blockslider">
    <div class="container">
      <div class="blockslider__container swiper">
        <div class="blockslider__slider swiper-wrapper">
          <div class="blockslider__slide swiper-slide">
            <div class="blockslider__content">
              <a href="#">
                <img src="img/blockslider.jpg" alt="">
              </a>
            </div>
          </div><!-- /.blockslider__slide -->
          <div class="blockslider__slide swiper-slide">
            <div class="blockslider__content">
              <a href="#">
                <img src="img/blockslider.jpg" alt="">
              </a>
            </div>
          </div><!-- /.blockslider__slide -->
        </div><!-- /.blockslider__slider -->
        <div class="blockslider-button-next"><img src="img/right.svg" alt=""></div>
        <div class="blockslider-button-prev"><img src="img/left.svg" alt=""></div>
      </div><!-- /.blockslider__container -->
    </div><!-- /.container -->
  </div><!-- /.blockslider -->
</main>
<%= _.template(require('../includes/footer.html').default)(data) %>