<% var data = {
  title: "MAIN",
  author: ""
  }; %><%= _.template(require('../includes/head.html').default)(data) %><%= _.template(require('../includes/header.html').default)(data) %> <main>
  <div class="page">
    <div class="breadcrumbs">
      <div class="container">
        <div class="breadcrumbs__items">
          <ul>
            <li>
              <a href="/">
                <span>
                  <img src="img/Home.svg" alt="">
                </span>
              </a>
            </li>
            <li>
              <a href="">
                <span>Каталог</span>
              </a>
            </li>
            <li>
              <span>Мясо, птица</span>
            </li>
          </ul>
        </div>
        <!-- /.breadcrumbs__items -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.breadcrumbs -->
    <div class="container">
      <div class="catalogheader catalogheader_large">
        <div class="catalogheader__left">
          <div class="catalogheader__title pageheader__type2">
            <h1>Новости</h1>
          </div>
          <!-- /.catalogheader__title -->
        </div>
        <!-- /.catalogheader__left -->
        <!-- /.catalogheader__panel -->
      </div>
      <!-- /.catalogheader__right -->
      <div class="news">
        <div class="itemslist__items">
          <div class="itemslist__item itemslist__item_col3">
            <div class="itemslistcard itemslistcard_news">
              <div class="itemslistcard__wrapper">
                <a href="#" class="itemslistcard__image" tabindex="0">
                  <div class="itemslistcard__img">
                    <img src="img/news1.jpg" alt="">
                  </div>
                </a>
                <!-- /.itemslistcard__image -->
                <div class="itemslistcard__title">
                  <a href="" tabindex="0">Обязательные правила безопасности в условиях пандемии</a>
                </div>
                <div class="itemslistcard__info">
                  <div class="itemslistcard__params">
                    <div class="itemslistcard__param">
                      <span class="itemslistcard__text">14.05.22</span>
                    </div>
                    <!-- /.itemslistcard__param -->
                  </div>
                  <!-- /.itemslistcard__params -->
                </div>
                <!-- /.itemslistcard__info -->
              </div>
              <!-- /.itemslistcard__wrapper -->
            </div>
          </div>
          <!-- /.itemslists__item -->
          <div class="itemslist__item itemslist__item_col3">
            <div class="itemslistcard itemslistcard_news">
              <div class="itemslistcard__wrapper">
                <a href="#" class="itemslistcard__image" tabindex="0">
                  <div class="itemslistcard__img">
                    <img src="img/news2.jpg" alt="">
                  </div>
                </a>
                <!-- /.itemslistcard__image -->
                <div class="itemslistcard__title">
                  <a href="" tabindex="0">Обязательные правила безопасности в условиях пандемии</a>
                </div>
                <div class="itemslistcard__info">
                  <div class="itemslistcard__params">
                    <div class="itemslistcard__param">
                      <span class="itemslistcard__text">14.05.22</span>
                    </div>
                    <!-- /.itemslistcard__param -->
                  </div>
                  <!-- /.itemslistcard__params -->
                </div>
                <!-- /.itemslistcard__info -->
              </div>
              <!-- /.itemslistcard__wrapper -->
            </div>
          </div>
          <!-- /.itemslists__item -->
          <div class="itemslist__item itemslist__item_col3">
            <div class="itemslistcard itemslistcard_news">
              <div class="itemslistcard__wrapper">
                <a href="#" class="itemslistcard__image" tabindex="0">
                  <div class="itemslistcard__img">
                    <img src="img/news3.jpg" alt="">
                  </div>
                </a>
                <!-- /.itemslistcard__image -->
                <div class="itemslistcard__title">
                  <a href="" tabindex="0">Обязательные правила безопасности в условиях пандемии</a>
                </div>
                <div class="itemslistcard__info">
                  <div class="itemslistcard__params">
                    <div class="itemslistcard__param">
                      <span class="itemslistcard__text">14.05.22</span>
                    </div>
                    <!-- /.itemslistcard__param -->
                  </div>
                  <!-- /.itemslistcard__params -->
                </div>
                <!-- /.itemslistcard__info -->
              </div>
              <!-- /.itemslistcard__wrapper -->
            </div>
          </div>
          <!-- /.itemslists__item -->
          <div class="itemslist__item itemslist__item_col3">
            <div class="itemslistcard itemslistcard_news">
              <div class="itemslistcard__wrapper">
                <a href="#" class="itemslistcard__image" tabindex="0">
                  <div class="itemslistcard__img">
                    <img src="img/news4.jpg" alt="">
                  </div>
                </a>
                <!-- /.itemslistcard__image -->
                <div class="itemslistcard__title">
                  <a href="" tabindex="0">Обязательные правила безопасности в условиях пандемии</a>
                </div>
                <div class="itemslistcard__info">
                  <div class="itemslistcard__params">
                    <div class="itemslistcard__param">
                      <span class="itemslistcard__text">14.05.22</span>
                    </div>
                    <!-- /.itemslistcard__param -->
                  </div>
                  <!-- /.itemslistcard__params -->
                </div>
                <!-- /.itemslistcard__info -->
              </div>
              <!-- /.itemslistcard__wrapper -->
            </div>
          </div>
          <!-- /.itemslists__item -->
          <div class="itemslist__item itemslist__item_col3">
            <div class="itemslistcard itemslistcard_news">
              <div class="itemslistcard__wrapper">
                <a href="#" class="itemslistcard__image" tabindex="0">
                  <div class="itemslistcard__img">
                    <img src="img/news5.jpg" alt="">
                  </div>
                </a>
                <!-- /.itemslistcard__image -->
                <div class="itemslistcard__title">
                  <a href="" tabindex="0">Обязательные правила безопасности в условиях пандемии</a>
                </div>
                <div class="itemslistcard__info">
                  <div class="itemslistcard__params">
                    <div class="itemslistcard__param">
                      <span class="itemslistcard__text">14.05.22</span>
                    </div>
                    <!-- /.itemslistcard__param -->
                  </div>
                  <!-- /.itemslistcard__params -->
                </div>
                <!-- /.itemslistcard__info -->
              </div>
              <!-- /.itemslistcard__wrapper -->
            </div>
          </div>
          <!-- /.itemslists__item -->
          <div class="itemslist__item itemslist__item_col3">
            <div class="itemslistcard itemslistcard_news">
              <div class="itemslistcard__wrapper">
                <a href="#" class="itemslistcard__image" tabindex="0">
                  <div class="itemslistcard__img">
                    <img src="img/news6.jpg" alt="">
                  </div>
                </a>
                <!-- /.itemslistcard__image -->
                <div class="itemslistcard__title">
                  <a href="" tabindex="0">Обязательные правила безопасности в условиях пандемии</a>
                </div>
                <div class="itemslistcard__info">
                  <div class="itemslistcard__params">
                    <div class="itemslistcard__param">
                      <span class="itemslistcard__text">14.05.22</span>
                    </div>
                    <!-- /.itemslistcard__param -->
                  </div>
                  <!-- /.itemslistcard__params -->
                </div>
                <!-- /.itemslistcard__info -->
              </div>
              <!-- /.itemslistcard__wrapper -->
            </div>
          </div>
          <!-- /.itemslists__item -->
          <div class="itemslist__item itemslist__item_col3">
            <div class="itemslistcard itemslistcard_news">
              <div class="itemslistcard__wrapper">
                <a href="#" class="itemslistcard__image" tabindex="0">
                  <div class="itemslistcard__img">
                    <img src="img/news1.jpg" alt="">
                  </div>
                </a>
                <!-- /.itemslistcard__image -->
                <div class="itemslistcard__title">
                  <a href="" tabindex="0">Обязательные правила безопасности в условиях пандемии</a>
                </div>
                <div class="itemslistcard__info">
                  <div class="itemslistcard__params">
                    <div class="itemslistcard__param">
                      <span class="itemslistcard__text">14.05.22</span>
                    </div>
                    <!-- /.itemslistcard__param -->
                  </div>
                  <!-- /.itemslistcard__params -->
                </div>
                <!-- /.itemslistcard__info -->
              </div>
              <!-- /.itemslistcard__wrapper -->
            </div>
          </div>
          <!-- /.itemslists__item -->
          <div class="itemslist__item itemslist__item_col3">
            <div class="itemslistcard itemslistcard_news">
              <div class="itemslistcard__wrapper">
                <a href="#" class="itemslistcard__image" tabindex="0">
                  <div class="itemslistcard__img">
                    <img src="img/news2.jpg" alt="">
                  </div>
                </a>
                <!-- /.itemslistcard__image -->
                <div class="itemslistcard__title">
                  <a href="" tabindex="0">Обязательные правила безопасности в условиях пандемии</a>
                </div>
                <div class="itemslistcard__info">
                  <div class="itemslistcard__params">
                    <div class="itemslistcard__param">
                      <span class="itemslistcard__text">14.05.22</span>
                    </div>
                    <!-- /.itemslistcard__param -->
                  </div>
                  <!-- /.itemslistcard__params -->
                </div>
                <!-- /.itemslistcard__info -->
              </div>
              <!-- /.itemslistcard__wrapper -->
            </div>
          </div>
          <!-- /.itemslists__item -->
          <div class="itemslist__item itemslist__item_col3">
            <div class="itemslistcard itemslistcard_news">
              <div class="itemslistcard__wrapper">
                <a href="#" class="itemslistcard__image" tabindex="0">
                  <div class="itemslistcard__img">
                    <img src="img/news3.jpg" alt="">
                  </div>
                </a>
                <!-- /.itemslistcard__image -->
                <div class="itemslistcard__title">
                  <a href="" tabindex="0">Обязательные правила безопасности в условиях пандемии</a>
                </div>
                <div class="itemslistcard__info">
                  <div class="itemslistcard__params">
                    <div class="itemslistcard__param">
                      <span class="itemslistcard__text">14.05.22</span>
                    </div>
                    <!-- /.itemslistcard__param -->
                  </div>
                  <!-- /.itemslistcard__params -->
                </div>
                <!-- /.itemslistcard__info -->
              </div>
              <!-- /.itemslistcard__wrapper -->
            </div>
          </div>
          <!-- /.itemslists__item -->
        </div>
        <!-- /.itemslists__items -->
        <div class="catalognav">
          <div class="catalognav__showmore">
            <a href="#" class="showmorelink">
              <img src="img/Synchronize.svg" alt="">
              <span>Показать еще</span>
            </a>
          </div>
        </div>
        <!-- /.itemslists -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.page -->
</main><%= _.template(require('../includes/footer.html').default)(data) %>