<% var data = {
  title: "MAIN",
  author: ""
  }; %><%= _.template(require('../includes/head.html').default)(data) %><%= _.template(require('../includes/header.html').default)(data) %> <main>
  <div class="page">
    <div class="breadcrumbs">
      <div class="container">
        <div class="breadcrumbs__items">
          <ul>
            <li>
              <a href="/">
                <span>
                  <img src="img/Home.svg" alt="">
                </span>
              </a>
            </li>
            <li>
              <a href="">
                <span>Каталог</span>
              </a>
            </li>
            <li>
              <span>Мясо, птица</span>
            </li>
          </ul>
        </div>
        <!-- /.breadcrumbs__items -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.breadcrumbs -->
    <div class="container">
      <div class="catalogheader catalogheader_large">
        <div class="catalogheader__left">
          <div class="catalogheader__title pageheader__type2">
            <h1>Новости</h1>
          </div>
          <!-- /.catalogheader__title -->
        </div>
        <!-- /.catalogheader__left -->
        
        <!-- /.catalogheader__panel -->
      </div>
      <!-- /.catalogheader__right -->
      <div class="news">
        <div class="itemslist__items">
          <div class="itemslist__item itemslist__item_col3">
            <div class="itemslistcard itemslistcard_news">
              <div class="itemslistcard__wrapper">
                <a href="#" class="itemslistcard__image" tabindex="0">
                  <div class="itemslistcard__img">
                    <img src="img/news1.jpg" alt="">
                  </div>
                </a>
                <!-- /.itemslistcard__image -->
                <div class="itemslistcard__title">
                  <a href="" tabindex="0">Обязательные правила безопасности в условиях пандемии</a>
                </div>
                <div class="itemslistcard__info">
                  <div class="itemslistcard__params">
                    <div class="itemslistcard__param">
                      <span class="itemslistcard__text">14.05.22</span>
                    </div>
                    <!-- /.itemslistcard__param -->
                  </div>
                  <!-- /.itemslistcard__params -->
                </div>
                <!-- /.itemslistcard__info -->
              </div>
              <!-- /.itemslistcard__wrapper -->
            </div>
          </div>
          <!-- /.itemslists__item -->
         
          <div class="itemslist__item itemslist__item_col3">
            <div class="itemslistcard itemslistcard_news">
              <div class="itemslistcard__wrapper">
                <a href="#" class="itemslistcard__image" tabindex="0">
                  <div class="itemslistcard__img">
                    <img src="img/news2.jpg" alt="">
                  </div>
                </a>
                <!-- /.itemslistcard__image -->
                <div class="itemslistcard__title">
                  <a href="" tabindex="0">Обязательные правила безопасности в условиях пандемии</a>
                </div>
                <div class="itemslistcard__info">
                  <div class="itemslistcard__params">
                    <div class="itemslistcard__param">
                      <span class="itemslistcard__text">14.05.22</span>
                    </div>
                    <!-- /.itemslistcard__param -->
                  </div>
                  <!-- /.itemslistcard__params -->
                </div>
                <!-- /.itemslistcard__info -->
              </div>
              <!-- /.itemslistcard__wrapper -->
            </div>
          </div>
          <!-- /.itemslists__item -->
         
          <div class="itemslist__item itemslist__item_col3">
            <div class="itemslistcard itemslistcard_news">
              <div class="itemslistcard__wrapper">
                <a href="#" class="itemslistcard__image" tabindex="0">
                  <div class="itemslistcard__img">
                    <img src="img/news3.jpg" alt="">
                  </div>
                </a>
                <!-- /.itemslistcard__image -->
                <div class="itemslistcard__title">
                  <a href="" tabindex="0">Обязательные правила безопасности в условиях пандемии</a>
                </div>
                <div class="itemslistcard__info">
                  <div class="itemslistcard__params">
                    <div class="itemslistcard__param">
                      <span class="itemslistcard__text">14.05.22</span>
                    </div>
                    <!-- /.itemslistcard__param -->
                  </div>
                  <!-- /.itemslistcard__params -->
                </div>
                <!-- /.itemslistcard__info -->
              </div>
              <!-- /.itemslistcard__wrapper -->
            </div>
          </div>
          <!-- /.itemslists__item -->
         
          <div class="itemslist__item itemslist__item_col3">
            <div class="itemslistcard itemslistcard_news">
              <div class="itemslistcard__wrapper">
                <a href="#" class="itemslistcard__image" tabindex="0">
                  <div class="itemslistcard__img">
                    <img src="img/news4.jpg" alt="">
                  </div>
                </a>
                <!-- /.itemslistcard__image -->
                <div class="itemslistcard__title">
                  <a href="" tabindex="0">Обязательные правила безопасности в условиях пандемии</a>
                </div>
                <div class="itemslistcard__info">
                  <div class="itemslistcard__params">
                    <div class="itemslistcard__param">
                      <span class="itemslistcard__text">14.05.22</span>
                    </div>
                    <!-- /.itemslistcard__param -->
                  </div>
                  <!-- /.itemslistcard__params -->
                </div>
                <!-- /.itemslistcard__info -->
              </div>
              <!-- /.itemslistcard__wrapper -->
            </div>
          </div>
          <!-- /.itemslists__item -->
         
          <div class="itemslist__item itemslist__item_col3">
            <div class="itemslistcard itemslistcard_news">
              <div class="itemslistcard__wrapper">
                <a href="#" class="itemslistcard__image" tabindex="0">
                  <div class="itemslistcard__img">
                    <img src="img/news5.jpg" alt="">
                  </div>
                </a>
                <!-- /.itemslistcard__image -->
                <div class="itemslistcard__title">
                  <a href="" tabindex="0">Обязательные правила безопасности в условиях пандемии</a>
                </div>
                <div class="itemslistcard__info">
                  <div class="itemslistcard__params">
                    <div class="itemslistcard__param">
                      <span class="itemslistcard__text">14.05.22</span>
                    </div>
                    <!-- /.itemslistcard__param -->
                  </div>
                  <!-- /.itemslistcard__params -->
                </div>
                <!-- /.itemslistcard__info -->
              </div>
              <!-- /.itemslistcard__wrapper -->
            </div>
          </div>
          <!-- /.itemslists__item -->
         
          <div class="itemslist__item itemslist__item_col3">
            <div class="itemslistcard itemslistcard_news">
              <div class="itemslistcard__wrapper">
                <a href="#" class="itemslistcard__image" tabindex="0">
                  <div class="itemslistcard__img">
                    <img src="img/news6.jpg" alt="">
                  </div>
                </a>
                <!-- /.itemslistcard__image -->
                <div class="itemslistcard__title">
                  <a href="" tabindex="0">Обязательные правила безопасности в условиях пандемии</a>
                </div>
                <div class="itemslistcard__info">
                  <div class="itemslistcard__params">
                    <div class="itemslistcard__param">
                      <span class="itemslistcard__text">14.05.22</span>
                    </div>
                    <!-- /.itemslistcard__param -->
                  </div>
                  <!-- /.itemslistcard__params -->
                </div>
                <!-- /.itemslistcard__info -->
              </div>
              <!-- /.itemslistcard__wrapper -->
            </div>
          </div>
          <!-- /.itemslists__item -->
         
          <div class="itemslist__item itemslist__item_col3">
            <div class="itemslistcard itemslistcard_news">
              <div class="itemslistcard__wrapper">
                <a href="#" class="itemslistcard__image" tabindex="0">
                  <div class="itemslistcard__img">
                    <img src="img/news1.jpg" alt="">
                  </div>
                </a>
                <!-- /.itemslistcard__image -->
                <div class="itemslistcard__title">
                  <a href="" tabindex="0">Обязательные правила безопасности в условиях пандемии</a>
                </div>
                <div class="itemslistcard__info">
                  <div class="itemslistcard__params">
                    <div class="itemslistcard__param">
                      <span class="itemslistcard__text">14.05.22</span>
                    </div>
                    <!-- /.itemslistcard__param -->
                  </div>
                  <!-- /.itemslistcard__params -->
                </div>
                <!-- /.itemslistcard__info -->
              </div>
              <!-- /.itemslistcard__wrapper -->
            </div>
          </div>
          <!-- /.itemslists__item -->
         
          <div class="itemslist__item itemslist__item_col3">
            <div class="itemslistcard itemslistcard_news">
              <div class="itemslistcard__wrapper">
                <a href="#" class="itemslistcard__image" tabindex="0">
                  <div class="itemslistcard__img">
                    <img src="img/news2.jpg" alt="">
                  </div>
                </a>
                <!-- /.itemslistcard__image -->
                <div class="itemslistcard__title">
                  <a href="" tabindex="0">Обязательные правила безопасности в условиях пандемии</a>
                </div>
                <div class="itemslistcard__info">
                  <div class="itemslistcard__params">
                    <div class="itemslistcard__param">
                      <span class="itemslistcard__text">14.05.22</span>
                    </div>
                    <!-- /.itemslistcard__param -->
                  </div>
                  <!-- /.itemslistcard__params -->
                </div>
                <!-- /.itemslistcard__info -->
              </div>
              <!-- /.itemslistcard__wrapper -->
            </div>
          </div>
          <!-- /.itemslists__item -->
          <div class="itemslist__item itemslist__item_col3">
            <div class="itemslistcard itemslistcard_news">
              <div class="itemslistcard__wrapper">
                <a href="#" class="itemslistcard__image" tabindex="0">
                  <div class="itemslistcard__img">
                    <img src="img/news3.jpg" alt="">
                  </div>
                </a>
                <!-- /.itemslistcard__image -->
                <div class="itemslistcard__title">
                  <a href="" tabindex="0">Обязательные правила безопасности в условиях пандемии</a>
                </div>
                <div class="itemslistcard__info">
                  <div class="itemslistcard__params">
                    <div class="itemslistcard__param">
                      <span class="itemslistcard__text">14.05.22</span>
                    </div>
                    <!-- /.itemslistcard__param -->
                  </div>
                  <!-- /.itemslistcard__params -->
                </div>
                <!-- /.itemslistcard__info -->
              </div>
              <!-- /.itemslistcard__wrapper -->
            </div>
          </div>
          <!-- /.itemslists__item -->
         
        </div>
        <!-- /.itemslists__items -->
        <div class="catalognav">
          <div class="catalognav__showmore">
            <a href="#" class="showmorelink">
            <img src="img/Synchronize.svg" alt="">
            <span>Показать еще</span>
            </a>
          </div>
         
      </div>
      <!-- /.itemslists -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.page -->
</main>
<div class="modal fade" tabindex="-1" role="dialog" id='popup_delivery'>
  <div class="modal-dialog" role="document">
    <div class="modalwrapper">
      <div class="modal-content">
        <div class="modal-title">Укажите адрес доставки</div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <img src="img/closebutton.svg" alt="">
          </span>
        </button>
        <div class="modal-body">
          <!-- форму можно поставить в другое если на самовывоз понадобится отдельная -->
          <form action="#">
            <div class="deliverytabs js-tabs">
              <div class="deliverytabs__header">
                <ul class='js-tabsheader'>
                  <li class='active'>Доставка</li>
                  <li>Самовывоз</li>
                </ul>
              </div>
              <!-- /.deliverytabs__header -->
              <div class="deliverytabs__main">
                <div class="deliverytabs__item active js-tabscontent">
                  <div class="deliverytabs__form">
                    <div class="deliverytabs__inputrow">
                      <div class="deliverytabs__inputcol mobile-full">
                        <div class="deliverytabs__input">
                          <label for="">Город</label>
                          <div class="selectbox">
                            <select name="" id="">
                              <option value="">г. Москва</option>
                              <option value="">г. Санкт-Петербург</option>
                              <option value="">г. Казань</option>
                            </select>
                          </div>
                          <!-- /.selectbox -->
                        </div>
                        <!-- /.deliverytabs__input -->
                      </div>
                      <!-- /.deliverytabs__inputcol -->
                      <div class="deliverytabs__inputcol mobile-full">
                        <div class="deliverytabs__input">
                          <label for="">Улица</label>
                          <input type="text">
                        </div>
                        <!-- /.deliverytabs__input -->
                      </div>
                      <!-- /.deliverytabs__inputcol -->
                      <div class="deliverytabs__inputcol">
                        <div class="deliverytabs__input">
                          <label for="">Дом, корпус</label>
                          <input type="text">
                        </div>
                        <!-- /.deliverytabs__input -->
                      </div>
                      <!-- /.deliverytabs__inputcol -->
                      <div class="deliverytabs__inputcol">
                        <div class="deliverytabs__input">
                          <label for="">Подьезд</label>
                          <input type="text">
                        </div>
                        <!-- /.deliverytabs__input -->
                      </div>
                      <!-- /.deliverytabs__inputcol -->
                      <div class="deliverytabs__inputcol">
                        <div class="deliverytabs__input">
                          <label for="">Этаж</label>
                          <input type="text">
                        </div>
                        <!-- /.deliverytabs__input -->
                      </div>
                      <!-- /.deliverytabs__inputcol -->
                      <div class="deliverytabs__inputcol">
                        <div class="deliverytabs__input">
                          <label for="">Квартира</label>
                          <input type="text">
                        </div>
                        <!-- /.deliverytabs__input -->
                      </div>
                      <!-- /.deliverytabs__inputcol -->
                    </div>
                    <!-- /.deliverytabs__inputrow -->
                    <div class="deliverytabs__map">
                      <div class="map-delivery">
                        <!-- заглушка карты -->
                        <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A910d035e8541c432b40bd4d37b0412bfbb2a89bb51d5eb57d49fe768cb62627d&amp;source=constructor" width="100%" height="400" frameborder="0"></iframe>
                      </div>
                      <!-- /.map-delivery -->
                    </div>
                    <!-- /.deliverytabs__map -->
                  </div>
                  <!-- /.deliverytabs__form -->
                </div>
                <!-- /.deliverytabs__item -->
                <!-- самовывоз -->
                <div class="deliverytabs__item js-tabscontent"></div>
                <!-- /.deliverytabs__item -->
              </div>
              <!-- /.deliverytabs__main -->
            </div>
            <!-- /.deliverytabs -->
            <div class="modal-submit">
              <div class="buttonsrow">
                <div class="buttonsrow__item">
                  <a class='btn_border btn_gray'>Отмена</a>
                </div>
                <!-- /.buttonsrow__item -->
                <div class="buttonsrow__item">
                  <button type='submit' class='btn btn_main'>Подтвердить адрес</button>
                </div>
                <!-- /.buttonsrow__item -->
              </div>
              <!-- /.buttonsrow -->
            </div>
            <!-- /.modal-submit -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div><%= _.template(require('../includes/footer.html').default)(data) %>