<% var data = {
  title: "MAIN",
  author: ""
  }; %><%= _.template(require('../includes/head.html').default)(data) %><%= _.template(require('../includes/header.html').default)(data) %> <main>
  <div class="page">
    <div class="breadcrumbs">
      <div class="container">
        <div class="breadcrumbs__items">
          <ul>
            <li>
              <a href="/">
                <span>
                  <img src="img/Home.svg" alt="">
                </span>
              </a>
            </li>
            <li>
              <a href="">
                <span>Каталог</span>
              </a>
            </li>
            <li>
              <span>Мясо, птица</span>
            </li>
          </ul>
        </div>
        <!-- /.breadcrumbs__items -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.breadcrumbs -->
    <div class="container">
      <div class="pageheader">
        <h1>Обязательные правила безопасности в условиях пандемии</h1>
      </div>
      <div class="pageparams">
        <div class="pageparams__item">14.05.2022</div>
      </div>
      <!-- /.pageparams -->
      <div class="pagecontent">
        <div class="pagecontent__images">
          <div class="pagecontent__image">
            <a href='img/newsdetail1.jpg' data-lightbox='pagecontent__images_1' class="pagecontent__img">
              <img src="img/newsdetail1.jpg" alt="">
            </a>
          </div>
          <div class="pagecontent__image">
            <a href='img/newsdetail2.jpg' data-lightbox='pagecontent__images_1' class="pagecontent__img">
              <img src="img/newsdetail2.jpg" alt="">
            </a>
          </div>
        </div>
        <!-- /.pagecontent__images -->
        <div class="pageshortdescr">
          <div class="pageshortdescr__text">Дополнительные меры гигиены и безопасности, принятые на производстве Мясницкий ряд в условиях пандемии, останутся стандартом работы на постоянной основе.</div>
          <!-- /.pageshortdescr__text -->
        </div>
        <!-- /.pagedescripton -->
        <div class="pagetext">
          <p> Пандемия COVID-19 внесла коррективы в бизнес-процессы компании «Мясницкий ряд». Основной акцент - это обеспечение безопасности продукции, сотрудников компании и покупателей. Введены дополнительные меры гигиены для соблюдения санитарных требований к организации работы предприятий, исключающих риски инфицирования, в период режима повышенной готовности. Предпринятые меры стали частью обязательного технологического процесса. </p>
          <p>Для гарантии пищевой безопасности каждое производственное помещение дважды в день обрабатывается дезинфицирующими средствами. Затем промываются чистой водой. Качество обработки контролируют при помощи индикаторов, портативных люменометров и лабораторных исследований. Цеха и линии дезинфицируются при помощи технологии «холодного тумана». Установка генерирует облако со специальным составом, которое равномерно распределяется по всем поверхностям. Микро капли способы проникать и обеззараживать даже самые труднодоступные места. </p>
          <p>Сотрудникам компании ежедневно, перед началом рабочего дня, измеряется температура бесконтактными термометрами и контролируется их состояние здоровья. Все обеспечены в необходимом объеме средствами индивидуальной защиты: перчатками, лицевыми масками, защитными лицевыми экранами, санитарно-гигиеническими шапочками. Дополнительно, на каждом рабочем месте есть антисептик, чтобы в процессе работы регулярно обрабатывать руки. Обязательным условием является соблюдение дистанции. Проводится качественная уборка помещений, уделяется особое внимание дезинфекции поверхности дверных ручек, столов, выключателям, перил и контактных поверхностей. Каждый час, в каждом помещении обязательное проветривание, а также обработка всех помещений бактерицидными УФ облучателями. Входные двери оборудованы датчиками позволяющими бесконтактно обеспечивать вход в помещения. Офисные сотрудники максимально переведены на удаленный режим работы. </p>
          <p>Компания заботится о здоровье сотрудников, поэтому в меню столовой дополнительно добавлены фрукты и овощи, для обеспечения витаминами. </p>
          <p>Во время карантина фирменные магазины продолжают работу в стандартном режиме. Продавцы в обязательном порядке носят средства индивидуальной защиты: перчатки, маски, лицевые защитные экраны, для покупателей в открытом доступе представлен антисептик. </p>
          <p>Чтобы покупатели чувствовали себя в безопасности и соблюдали рекомендованный режим самоизоляции, «Мясницкий ряд» оперативно открыл онлайн-магазин и осуществляет бесконтактную доставку по Москве и Московской области, Рязани, Калуге и Твери.</p>
        </div>
        <!-- /.pagetext -->
      </div>
      <!-- /.pagecontent -->
    </div>
    <div class="pageblocksl morenewsslider">
      <div class="container">
        <div class="blockheader flex items-center content-between">
          <div class="blockheader__left">
            <h2>Другие статьи</h2>
            <a href="#">Смотреть все</a>
          </div>
          <!-- /.blockheader__left -->
          <div>
            <div class="sliderarrows flex">
              <div class="sliderarrows__left">
                <img src="img/left.svg" alt="">
              </div>
              <!-- /.sliderarrows__left -->
              <div class="sliderarrows__right">
                <img src="img/right.svg" alt="">
              </div>
              <!-- /.sliderarrows__right -->
            </div>
            <!-- /.sliderarrows -->
          </div>
        </div>
        <!-- /.blockheader -->
        <div class="itemslistslider__wrapper">
          <div class="itemslistslider__container">
            <div class="itemslist__slider morenews__slider ">
              <div class="itemslistslider__slide">
                <div class="itemslistslider__item">
                  <div class="itemslistcard itemslistcar_large">
                    <div class="itemslistcard__wrapper">
                      <a href="#" class="itemslistcard__image">
                        <div class="itemslistcard__img">
                          <img src="img/newsslider1.jpg" alt="">
                        </div>
                      </a>
                      <!-- /.itemslistcard__image -->
                      <div class="itemslistcard__info">
                        <div class="itemslistcard__params">
                          <div class="itemslistcard__param">
                            <span class="itemslistcard__text">14.05.2022</span>
                          </div>
                        </div>
                        <!-- /.itemslistcard__params -->
                      </div>
                      <div class="itemslistcard__title">
                        <a href="">Обязательные правила безопасности в условиях пандемии</a>
                      </div>
                      <div class="itemslistcard__anonce"> Дополнительные меры гигиены и безопасности, принятые на производстве Мясницкий ряд в у... </div>
                      <!-- /.itemslistcard__anonce -->
                      <!-- /.itemslistcard__info -->
                    </div>
                    <!-- /.itemslistcard__wrapper -->
                  </div>
                  <!-- /.itemslistcard -->
                </div>
                <!-- /.itemslistslider__item -->
              </div>
              <!-- /.itemslistslider__slide -->
              <div class="itemslistslider__slide">
                <div class="itemslistslider__item">
                  <div class="itemslistcard itemslistcar_large">
                    <div class="itemslistcard__wrapper">
                      <a href="#" class="itemslistcard__image">
                        <div class="itemslistcard__img">
                          <img src="img/newsslider2.jpg" alt="">
                        </div>
                      </a>
                      <!-- /.itemslistcard__image -->
                      <div class="itemslistcard__info">
                        <div class="itemslistcard__params">
                          <div class="itemslistcard__param">
                            <span class="itemslistcard__text">14.05.2022</span>
                          </div>
                        </div>
                        <!-- /.itemslistcard__params -->
                      </div>
                      <div class="itemslistcard__title">
                        <a href="">Обязательные правила безопасности в условиях пандемии</a>
                      </div>
                      <div class="itemslistcard__anonce"> Дополнительные меры гигиены и безопасности, принятые на производстве Мясницкий ряд в у... </div>
                      <!-- /.itemslistcard__anonce -->
                      <!-- /.itemslistcard__info -->
                    </div>
                    <!-- /.itemslistcard__wrapper -->
                  </div>
                  <!-- /.itemslistcard -->
                </div>
                <!-- /.itemslistslider__item -->
              </div>
              <!-- /.itemslistslider__slide -->
              <div class="itemslistslider__slide">
                <div class="itemslistslider__item">
                  <div class="itemslistcard itemslistcar_large">
                    <div class="itemslistcard__wrapper">
                      <a href="#" class="itemslistcard__image">
                        <div class="itemslistcard__img">
                          <img src="img/newsslider3.jpg" alt="">
                        </div>
                      </a>
                      <!-- /.itemslistcard__image -->
                      <div class="itemslistcard__info">
                        <div class="itemslistcard__params">
                          <div class="itemslistcard__param">
                            <span class="itemslistcard__text">14.05.2022</span>
                          </div>
                        </div>
                        <!-- /.itemslistcard__params -->
                      </div>
                      <div class="itemslistcard__title">
                        <a href="">Обязательные правила безопасности в условиях пандемии</a>
                      </div>
                      <div class="itemslistcard__anonce"> Дополнительные меры гигиены и безопасности, принятые на производстве Мясницкий ряд в у... </div>
                      <!-- /.itemslistcard__anonce -->
                      <!-- /.itemslistcard__info -->
                    </div>
                    <!-- /.itemslistcard__wrapper -->
                  </div>
                  <!-- /.itemslistcard -->
                </div>
                <!-- /.itemslistslider__item -->
              </div>
              <!-- /.itemslistslider__slide -->
              <div class="itemslistslider__slide">
                <div class="itemslistslider__item">
                  <div class="itemslistcard itemslistcar_large">
                    <div class="itemslistcard__wrapper">
                      <a href="#" class="itemslistcard__image">
                        <div class="itemslistcard__img">
                          <img src="img/newsslider1.jpg" alt="">
                        </div>
                      </a>
                      <!-- /.itemslistcard__image -->
                      <div class="itemslistcard__info">
                        <div class="itemslistcard__params">
                          <div class="itemslistcard__param">
                            <span class="itemslistcard__text">14.05.2022</span>
                          </div>
                        </div>
                        <!-- /.itemslistcard__params -->
                      </div>
                      <div class="itemslistcard__title">
                        <a href="">Обязательные правила безопасности в условиях пандемии</a>
                      </div>
                      <div class="itemslistcard__anonce"> Дополнительные меры гигиены и безопасности, принятые на производстве Мясницкий ряд в у... </div>
                      <!-- /.itemslistcard__anonce -->
                      <!-- /.itemslistcard__info -->
                    </div>
                    <!-- /.itemslistcard__wrapper -->
                  </div>
                  <!-- /.itemslistcard -->
                </div>
                <!-- /.itemslistslider__item -->
              </div>
              <!-- /.itemslistslider__slide -->
            </div>
          </div>
          <!-- /.itemslistslider__container -->
        </div>
      </div>
    </div>
  </div>
</main><%= _.template(require('../includes/footer.html').default)(data) %>