<% var data = {
  title: "MAIN",
  author: ""
  }; %><%= _.template(require('../includes/head.html').default)(data) %><%= _.template(require('../includes/header.html').default)(data) %> <style>
  li {
    margin-bottom: 15px;
    list-style: none;
    display: inline-block;
  }
</style>
<main>
  <div class="page">
    <div class="breadcrumbs">
      <div class="container">
        <div class="breadcrumbs__items">
          <ul>
            <li>
              <a href="/">
                <span>
                  <img src="img/Home.svg" alt="">
                </span>
              </a>
            </li>
            <li>
              <a href="">
                <span>Каталог</span>
              </a>
            </li>
            <li>
              <span>Мясо, птица</span>
            </li>
          </ul>
        </div>
        <!-- /.breadcrumbs__items -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.breadcrumbs -->
    <div class="container">
      <div class="pageheader">
        <h1>Оформление заказа</h1>
        
      </div>
      <!-- /.pageheader -->
      <div class="cartblock">
        <div class="cartblock__main">
          <div class="ordermain">
            <div class="ordermain__blocks">
              <div class="ordermain__block">
                <div class="infocard">
                  <div class="ordermain__content">
                    <div class="sitetabs">
                      <div class="sitetabs__header">
                        <ul class="">
                          <li class="active"><span class="sitetabs__title">О товаре</span></li>
                          <li>
                            <span class="sitetabs__title">Отзывы <span class="count">123</span></span>
                          </li>
                          <li>
                            <span class="sitetabs__title">Рецепты <span class="count">5</span></span>
                          </li>
                          <li><span class="sitetabs__title">Как приготовить?</span></li>
                        </ul>
                      </div>
                      <div class="sitetabs__wrapper">
                        <div class="sitetabs__content active">
                          <div class="sitetabs__main">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><!-- /.infocard -->
              </div><!-- /.ordermain__block -->
            </div><!-- /.ordermain__blocks -->
          </div><!-- /.ordermain -->
        </div>
        <div class="cartblock__aside">
          <aside>
            <div class="infocard carttotal">
              <div class="carttotal__title">Ваш список <span class="carttotal__count">5</span>
              </div>
              <div class="carttotal__params">
                <div class="carttotal__param">
                  <div class="carttotal__paramtitle">Вес заказа:</div>
                  <div class="carttotal__paramvalue">10,4 кг</div>
                </div>
                <!-- /.carttotal__param -->
                <div class="carttotal__param">
                  <div class="carttotal__paramtitle">Всего товаров</div>
                  <div class="carttotal__paramvalue">3 шт.</div>
                </div>
                <!-- /.carttotal__param -->
                <div class="carttotal__param">
                  <div class="carttotal__paramtitle">Стоимость доставки</div>
                  <div class="carttotal__paramvalue">99 ₽</div>
                </div>
                <!-- /.carttotal__param -->
                <div class="carttotal__param">
                  <div class="carttotal__paramtitle">Общая скидка:</div>
                  <div class="carttotal__paramvalue carttotal__paramvalue_red">-4 028 ₽</div>
                </div>
                <!-- /.carttotal__param -->
              </div>
              <!-- /.carttotal__params -->
              <div class="carttotal__summary flex justify-between">
                <span>Итого:</span>
                <span>21 580 ₽</span>
              </div>
              <div class="carttotal__button">
                <button class="tocart btn btn_main">
                  
                  <span>Купить все</span>
                </button>
              </div>
            </div>
            <div class="infocard">
              <div class="deliveryblock">
                <div class="icontitle">
                  <img src="img/deliveryblock.svg" alt="">
                  <span>Условия</span>
                </div>
                <div class="listicon">
                  <ul>
                    <li>Минимальная сумма заказа 500 рублей!</li>
                    <li>Стоимость доставки – 249 рублей.</li>
                    <li>При заказе от 2000 рублей БЕСПЛАТНО.</li>
                    <li>При заказе от 500 рублей с доставкой по Одинцовскому г. о. БЕСПЛАТНО.</li>
                  </ul>
                </div>
                <!-- /.listicon -->
              </div>
              <!-- /.deliveryblock -->
            </div>
            <!-- /.infocard -->
          </aside>
        </div>
        <!-- /.cartblock__aside -->
      </div>
      <!-- /.cartblock -->
    </div>
</main><%= _.template(require('../includes/footer.html').default)(data) %>