

.ui-slider {
	position: relative;
}
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #25B757;
	border: 2px solid #FFFFFF;
	box-sizing: border-box;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
	cursor: pointer
}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	overflow: hidden;
}
.ui-slider-horizontal {
	    height: 7px;
}
.ui-slider-horizontal .ui-slider-handle { 
	    top: -8px;
	margin-left: -6px;
}
.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min { 
	left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}
.ui-widget-content { 

	height: 8px;

	background: #FFFFFF;
	border: 1px solid #E9E9E9;
	box-sizing: border-box;
	box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.15);
	border-radius: 222px;
}
.ui-widget-header { 
	border: none;
	background: rgba(37,183,87,0.5);
}
.ui-corner-all {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.filter__header {
	padding: 16px 0;
	border-bottom: 1px solid rgba(211,211,211,0.5);
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
	cursor: pointer;
}

.filter__form {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(211,211,211,0.5);
}

.filter__item .filter__header span {
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 27px;

	color: #526272;
	opacity: 0.5;
}

 
.filter__item_open .filter__header span {
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 27px;
	opacity: 1;
	color: #526272;
}

.filter__item svg {
	transform: rotate(-180deg);
}

.filter__item svg path {
	opacity: 1;
}

.filter__item_open svg {
	transform: none;
}

.filter__item_open svg path {
	opacity: 0.5;
}

.filter__item_close .filter__form {
	display: none;
}


 .formCost input{
	width: 98px;
	height: 48px;
	line-height: 48pc;
	background: #FFFFFF;
	border: 1px solid #E9E9E9;
	box-sizing: border-box;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	align-items: center;
	text-align: center;
	color: rgba(82,98,114,0.5);
	border-radius: 0;
 }

 
.formCost input::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	align-items: center;
	text-align: center;
	color: rgba(82,98,114,0.5);
}

.formCost input::-moz-placeholder {
	/* Firefox 19+ */
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	align-items: center;
	text-align: center;
	color: rgba(82,98,114,0.5);
}

.formCost input:-ms-input-placeholder {
	/* IE 10+ */
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	align-items: center;
	text-align: center;
	color: rgba(82,98,114,0.5);
}

.formCost input:-moz-placeholder {
	/* Firefox 18- */
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	align-items: center;
	text-align: center;
	color: rgba(82,98,114,0.5);
}

.sliderCont {
	width: 100%;
	max-width: 232px;

	    height: 20px;

}	

.formCost {
    margin: 7px 0;
}


.formCost__inputs {
	display: flex;
	justify-content: space-between;
	align-items: center;

	   
}

#slider {
	width: 100%;
}

.filter__price {
		width: 100%;
	max-width: 232px;
}



span.dcheckbox__text {
    padding: 0 0 0 26px;
    position: relative;
    display: inline-block;
    vertical-align: baseline;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 18px;
	color: rgba(82,98,114,1);
	opacity: 0.5;
 }
 

 
 .dcheckbox input[type=checkbox]  {
	 display: none;
 }
 
 span.dcheckbox__text:before {
    content: "";
    display: block;
    position: absolute;
	width: 18px;
	height: 18px;
	opacity: 0.5;
	border: 2px solid rgba(82,98,114, 1);
	box-sizing: border-box;
	border-radius: 4px;
    left: 0;
    top: 0;
}


.dcheckbox label {
	padding-left: 0;
	cursor: pointer;
	margin-bottom: 5px;
	transition: all 0.5s;
}


.dcheckbox label:hover .dcheckbox__text:before {
	background-image: url(/images/check1.png);
	background-repeat: no-repeat;
	background-position: center;
}

.dcheckbox input[type=checkbox]:checked + .dcheckbox__text:before {
   background-image: url(/images/check2.png);
	background-repeat: no-repeat;
	background-position: center;
	border-color: #25B757;
	opacity: 1;
}
.dcheckbox input[type=checkbox]:checked + .dcheckbox__text {

	opacity: 1;
}

.filter__item {
	margin-bottom: 16px;
}

