/* The container must be positioned relative: */
.selectbox {
  position: relative;
}

.selectbox select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background: #f3f3f7;
  border-radius: 8px;
  display: flex;
  height: 56px;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  border: none;
  font-family: 'FuturaDemiC';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
/* identical to box height */


color: #3B435A;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: url(../../img/selectArrow.svg);
  top: 14px;
  right: 10px;

}

/* Point the arrow upwards when the select box is open (active): */
/* .select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
} */

/* style the items (options), including the selected item: */
/* .select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
} */

/* Style items (options): */
.select-items div {
  font-family: 'FuturaDemiC';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  padding: 5px 20px;
  margin-bottom: 10px;
  display: block;
  cursor: pointer;
}
.select-items {
  position: absolute;
  background: #f3f3f7;
  top: calc(100% - 8px);
  left: 0;
  right: 0;
  z-index: 99;

/* identical to box height */


color: #3B435A;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}


@media (max-width: 1023px) {
  .select-selected {
    font-size: 14px;
    height: 36px;
    padding: 0 10px;
  }
  .select-items div  {
    margin-bottom: 10px;
    padding: 5px 10px;
    &:first-child {
      margin-top: 8px;
    }
    }
}