@import './partials/fonts.scss';
@import './partials/params.scss';
@import './partials/mixins.scss';
@import './partials/animations.scss';
@import './partials/classes.scss';
@import './modal.scss';



body {
  min-width: 320px;
  font-family: 'Circe';
  font-style: normal;
  font-weight: normal;
  @include clear;
  scroll-behavior: smooth;
  color: $main;
  overflow-x: hidden;
}

* {
  font-family: 'Circe';
  font-style: normal;
  box-sizing: border-box;
  outline: none !important;
}

main {
  overflow: hidden;
}

a {
  transition: all 0.3s ease;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #0068D7;
}
img {
  max-width: 100%;
  max-height: 100%;
  width: initial;
  height: initial;
}

@media (min-width: 1023px) {
  .onlyMobile {
    display: none !important;
  }
  
}


@include medium-screen {
  .onlyMobile {
    display: block;
  }

  .onlyDesktop {
    display: none !important;
  }

}

.container {
  @include container;
}


.header {
}
.header__topline {
}
.headertop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headertop__left {
}
.headertop__leftitems {
  display: flex;
  align-items: center;
}
.headertop__leftitems > * {
  margin-right: 22px;
}
.headertop__leftitems > *:last-child {
  margin-right: 0;
}
.deliverylink {
  display: block;
  padding-right: 13px;
  @include dropdown
}
.deliverylink__icon {
  display: inline-block;
  vertical-align: middle;
}
.deliverylink__text {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;

  color: #25344F;
  display: inline-block;
  vertical-align: middle;
}
.badge {
  white-space: nowrap;
  border-radius: 6px;
  padding: 3px 12px;
  background: rgba(12, 186, 122, 0.15);
}
.badge__green {
}
.badge__icon {
  margin-right: 9px;
  display: inline-block;
  vertical-align: middle;
}
.badge__text {
  display: inline-block;
  vertical-align: middle;
font-family: 'FuturaDemiC';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 130%;
/* identical to box height, or 21px */


color: #0CBA7A;
}
.headertop__right {
}
.headertop__rightitems {
}
.topmenu {
  padding: 16px 0;
  background: #fff;
}
.topmenu__wrapper {
}
.topmenu__items {
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    li {
      margin-left: 30px;
      &:first-child {
        margin-left: 0;
      }
      a {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        display: flex;
        align-items: center;
        color: $gray;

        &:hover {
          color: $main;
        }
      }
    }
  }
}
.topmenu__dropdown {
   @include dropdown

}
.headermain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 9px 0;
}
.headermain__left {
  display: flex;
  align-items: center;
  width: calc(100% - 420px);
  padding-right: 30px;
}
.headermain__logo {
}
.headermain__descr {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: $light;
  margin-left: 18px;
  max-width: 170px;
}
.headermain__menu {
  margin-left: 23px;
}
.mainmenubtn {
  width: 202px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;;
  background: #04A3E9;
  border-radius: 8px;
  span {
    font-family: 'FuturaDemiC';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding-left: 13px;
  }
}
.headermain__search {
  margin-left: 11px;
}
.headermain__right {
  display: flex;
  align-items: center;
  width: 420px;
}
.headermain__contacts {
}
.contacts {
}
.contacts__phone {
  a {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
     color: #25344F;
  }
  @include dropdown('../img/dropdown_big.svg')
}
.contacts__info {
  display: flex;
  align-items: center;
  margin-top: 2px;
}
.contacts__status {
  width: 4px;
  height: 4px;
  background: #13CC88;
  outline: 3px solid rgba(19, 204, 136, 0.3) !important;
  margin-right: 6px;
  border-radius: 50%;
}
.contacts__text {
  font-family: 'FuturaDemiC';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;
color: $gray;
}
.headermain__iconlinks {
}
.iconlinks__item {
  margin-right: 9px;
}
.iconlinks {
  display: flex;
  align-items: center;
  .iconlinks__item:last-child {
    margin-right: 0;
  }
}

.iconlinks__link {
  display: block;
  width: 70px;
  text-align: center;
  position: relative;
}
.iconlinks__icon {
}
.iconlinks__text {
  font-family: 'FuturaDemiC';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 14px;
/* identical to box height */
display: block;
text-align: center;
margin-top: 6px;
color: #25344F;
}
.iconlinks__badge {
  position: absolute;
  right: 12px;
  top: 0;
  font-style: normal;
font-weight: 500;
font-size: 12px;
background: #FF1D1D;
width: 16px;
height: 16px;
text-align: center;
line-height: 18px;
border-radius: 50%;
color: #FFFFFF;
}

.searchinput {
  background: #F3F3F7;
  border-radius: 8px;
  height: 52px;
  display: flex;
  align-items: center;
  padding: 0 22px;
  width: 100%;
  input {
    width: 100%;
    background: #F3F3F7;
    border: none;
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
width: 100%;
  }
  button {
    border: none;
    background: none;
  }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $gray;
}
::-moz-placeholder { /* Firefox 19+ */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $gray;
}
:-ms-input-placeholder { /* IE 10+ */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $gray;
}
:-moz-placeholder { /* Firefox 18- */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $gray;
}

.headermain__search {
  margin-left: 11px;
  width: 100%;
  max-width: 425px;
}

.logo {
  display: block;
  width: 122px;
}

.headermenu__item_dropdown a {
  @include dropdown('../img/ChevronDown-gray.svg');
  color: $gray;
}

.headermenu {
}
.headermenu__wrapper {
}
.headermenu__items {
  margin: 30px 0;
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include clear
  }
}
.headermenu__item {
}
.headermenu__link {
  font-family: 'FuturaDemiC';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #25344F;
    padding: 10px 10px;
    white-space: nowrap;
}

.headermenu__icon {
  margin-right: 10px;
}
.headermenu__title {
}
.headermenu__item_dropdown {
}


.mainslider {

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mainswiper {
  height: 545px;
  width: calc(100% - 349px);
  border-radius: 10px;
}
.mainswiper img {
  width: 100%;
}

.mainswiperpreview {
  height: 545px;
  box-sizing: border-box;
  width: 326px;
  padding-right: 14px;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
}
.swiper-scrollbar-drag {
  background: #04A3E9;
  border-radius: 0;
}
.swiper-scrollbar.swiper-scrollbar-vertical, .swiper-vertical>.swiper-scrollbar {
  width: 4px;
  background: #F3F3F6;  
}

.mainswiperpreview .swiper-slide {
  height: 156px;
  opacity: 0.5;
  border-radius: 10px;
  border: 2px solid #fff;
  cursor: pointer;
}

.mainswiperpreview .swiper-slide-thumb-active {
  opacity: 1;
  outline: 3px solid #0084FE !important;

}
.swiper-slide a {
  display: block;
  width:100%;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
 
}
  .mainslider__wrapper {
    display: flex;
  }

  margin-bottom: 55px;

}

.pageblock {
  margin-bottom: 50px;
}

h2 {
  font-family: 'FuturaDemiC';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 42px;
margin-bottom: 28px;

color: #25344F;
}
.pageblock {
}
.indexcat {
}
.indexcat__items {
  display: flex;
  margin: -5px;
  flex-wrap: wrap;
}
.indexcat__item {

  padding: 5px;
  width: 25%;
}

.indexcat__wrapper {
  padding: 32px 40px;
  position: relative;
  height: 280px;
  border-radius: 10px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: right bottom
}
.indexcat__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.indexcat__header {
}

.indexcat__count {
  font-family: 'FuturaDemiC';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;

color: #25344F;
margin-top: 2px;
}
.indexcat__text {
  font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 130%;
/* or 18px */
max-width: 307px;

color: #25344F;
}
.indexcat__image {
  position: absolute;
  right: 0;
  bottom: 0;
}
.indexcat__title {
  
font-family: 'FuturaDemiC';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 26px;
/* identical to box height */
margin-bottom: 4px;
display: flex;
align-items: center;

color: #25344F;
}
.indexcat__item_large {
  width: 50%;
  .indexcat__title {
    font-family: 'FuturaDemiC';
    font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 37px;
  
  
  color: #25344F;
  margin-bottom: 4px;
  }
}

.hover-slider-indicator {
  position: absolute;
   right: 0; 
  top: auto;
    bottom: -13px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hover-slider-indicator-dot {
  background-color: #D9D9D9;
  opacity: .75;
  border-radius: 50%;
  height: 6px;
  width: 6px;
  margin-left: 6px;
  margin-right: 0;
}
.hover-slider-indicator-dot.active {
  background-color: #0084FE;
  opacity: 1;
}
/* .productcard {
  width: 278px;
} */
.productcard__img {
  position: relative;
    width: 100%;
    height: 168px;
  img {
   /*  height: 100%;
    width: initial;
    max-width: initial; */
  }
}

.pageblock {
}
.productslider {
}
.blockheader {
  margin-bottom: 33px;

  a {
    font-family: 'FuturaDemiC';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
/* identical to box height */
display: block;
margin-left: 25px;

color: #04A3E9;
  }
  h2 {
    margin-bottom: 0;
    margin-top: 0;
  }
}
.flex {
}
.items-center {
}
.content-between {
}
.blockheader__left {
  display: flex;
  align-items: center;
}
.sliderarrows {
}
.sliderarrows__left {
  cursor: pointer;
}
.sliderarrows__right {
  margin-left: 15px;
  cursor: pointer;
}
.productslider__wrapper {
}
.productslider__container {
}
.productslider__slider {
}
.productslider__slide {
}
.productslider__item {
}
.productcard {
}

.productcard__images {
  padding: 6px 17px 6px 17px;
}
.productcard__img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.productcard__rating {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;


  color: #343C4B;
}
.productcard__count {
}
.productcard__title {
  margin-bottom: 18px;
  a {
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 100%;


color: #25344F;
  }

}
.productcard__buy {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.productcard__prices {
}
.productcard__topprice {
margin-bottom: 4px;
}
.productcard__oldprice {
  display: inline-block;
  vertical-align: middle;
  font-family: 'FuturaDemiC';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  margin-right: 11px;
  color: rgba(52, 60, 75, 0.5);
  position: relative;

  &:after {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 2px solid;
    border-color: $red;
    
    -webkit-transform:rotate(-8deg);
    -moz-transform:rotate(-8deg);
    -ms-transform:rotate(-8deg);
    -o-transform:rotate(-8deg);
    transform:rotate(-8deg);
  }
  
}
.productcard__badge {
  display: inline-block;
  vertical-align: middle;
  background-image: url(../img/badge.svg);
  width: 38px;
height: 16px;
font-family: 'FuturaDemiC';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 100%;
/* identical to box height, or 12px */
padding-left: 10px;

display: inline-flex;
align-items: center;

color: #343C4B;
}
.productcard__mainprice {
}
.productcard__price {

  font-family: 'FuturaDemiC';
font-style: normal;
font-weight: 600;

color: #ED1E26;
}
.productcard__pricevalue {  
  display: inline-block;
  vertical-align: middle;
font-size: 26px;
line-height: 30px;
}
.productcard__priceunit {  
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  line-height: 16px;
}
.productcard__button {
}

.productcard__info {
  margin-top: 20px;
}
.productcard__infoicon {
  display: inline-block;
  vertical-align: middle;
}
.productcard__infotext {
  padding-left: 5px;
  font-family: 'FuturaDemiC';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  display: inline-block;
  vertical-align: middle;
  color: #0CBA7A;
}

.btn {
  background: #04A3E9;
  border-radius: 12px;
  border: none;
  text-align: center;
  img {
    margin: auto;
  }
}
.productcard__addtocart {
  width: 48px;
height: 48px;
}

.score {
  display: block;
  font-size: 14px;
  line-height: 1;
  position: relative;
  overflow: hidden;
  margin-right: 5px;
}

.score-wrap {
  display: inline-block;
  position: relative;
  line-height: 1;
  width: 58px;
  text-align: left;
  font-size: 10px;
}

.score .stars-active {
  color: #FFD600;
  position: relative;
  z-index: 10;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
}
.score .rat-stars-active {
  color: #FFD600;
  position: relative;
  z-index: 10;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
}

.score .stars-inactive {
  color: rgba(52, 60, 75, 0.4);
  position: absolute;
  top: 0px;
  left: 0;
  -webkit-text-stroke: initial;
  vertical-align: middle;
  /* overflow: hidden; */
}

.cardrating__value {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.fa {
  font-family: 'FontAwesome';
}
.productcard__rating {
  display: flex;
  align-items: center;
  margin-bottom: 11px;
}

.cardrating__value {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.cardrating__value span {

  left: 0;
  position: absolute;
  text-indent: -2000px;
}

.blockslider {
  margin: 60px 0;
}
.blockslider__wrapper {
  position: relative;

}

.blockslider__slider {
}

.blockslider__slide {

}

.blockslider__content {
 
  a {
    @include imagecenter(24.65%, width)
  }
  
}
.blockslider-button-next {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
}
.blockslider-button-prev {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 2px;
}

.blockslider-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
  text-align: center;
  bottom: -15px;
  position: relative;
}
.blockslider__container {
  padding-bottom: 10px;
}
.swiper-button-disabled {
  opacity: 0.3;
}
.swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  cursor: pointer;
}
.swiper-pagination-bullet-active {
  background: $blue;
}

.productslider__slider {
  width: calc(100% + 30px); //we need more width for the shadows on the edges
  padding: 0 15px; //space for the shadows
  margin-left: -15px; //put the div in its original position
  overflow: hidden; //hide the overflow
}

.productslider .slick-list {
  overflow: visible;
}

.productcard__wrapper {
  background: #FFFFFF;
  border-radius: 6px;
  padding: 26px 24px;
}
.productslider .slick-active .productcard__wrapper {
 
  box-shadow: 8px 8px 40px rgba(48, 54, 64, 0.1);
 
}
.cardrating__item {
  display: flex;
  align-items: center;
}
.productcard__count {
  margin-bottom: -4px;
}
.productslider__slide {
  padding: 40px 7px;
}
.productslider{
  .blockheader {
    margin-bottom: 0;
  }
}


.recipeslider {
}

.items-center {
}
.content-between {
}
.blockheader__left {
}
.sliderarrows {
}
.sliderarrows__left {
}
.sliderarrows__right {
}
.recipeslider__wrapper {
}
.recipeslider__container {
}
.recipeslider__slider {
  margin: 0 -9px;
}
.recipeslider__slide {
  padding: 0 9px;
}
.recipeslider__item {
}
.recipecard {
}
.recipecard__wrapper {
}
.recipecard__image {
  margin-bottom: 16px;
}
.recipecard__img {
  border-radius: 10px;
  overflow: hidden;
  
  @include imagecenter(63.89%, height)

}
.recipecard__title {
  margin-bottom: 14px;
  a {
    font-family: 'FuturaDemiC';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    color: #25344F;
  }
}
.recipecard__info {
}
.recipecard__params {
  display: flex;
  align-items: center;
}
.recipecard__param {
  margin-right: 11px;
}
.recipecard__text {
  color: rgba(37, 52, 79, 0.4);
  font-family: 'FuturaDemiC';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.recipecard__icon {
  margin-right: 6px;
  display: inline-block;
  vertical-align: middle;
}

.pageblock {
  margin: 60px 0;
}

.pageblocksl {
  margin: 20px 0;
}

.fitchesline {
  padding: 49px 0;
  background: #F8F8FB;
}
.fitchesline__items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.fitchesline__item {
  padding: 0 13px;
  width: 20%;
}
.fitchescard {

}
.fitchescard__wrapper {
}
.fitchescard__image {
  margin-bottom: 21px;
  text-align: center;

}
.fitchescard__img {
}
.fitchescard__title {
}
.fitchescard__text {
  font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 100%;

text-align: center;

color: #25344F;
}


.pageblock {
}
.aboutblock {
}
.aboutblock__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.aboutblock__left {
  width: calc(100% - 700px);
}
.aboutblock__header {
  margin-bottom: 38px;
}
.aboutblock__video {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.aboutblock__right {
}
.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  width: 100%;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.aboutblock__right {
  width: 588px;
  padding: 0;
}
.aboutblock__content {
}
.aboutblock__text {
  p {

    margin-bottom: 26px;

  }
}
.bigtext {
  font-family: 'FuturaDemiC';
font-style: normal;
font-weight: 600;
font-size: 26px;
line-height: 100%;
/* or 26px */
color: #25344F;
}
.docblock {
  display: flex;
  align-items: center;
}
.docblock_sert {
}
.docblock__icon {
  margin-right: 13px;
}
.docblock__icn {
}
.docblock__main {
}
.docblock__title {
  font-family: 'FuturaDemiC';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 100%;


color: #25344F;
}
.docblock__text {
  font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 130%;
/* or 18px */


color: rgba(37, 52, 79, 0.7);
}

.aboutblock__img {
  margin-bottom: 18px;
}

.beyond-button-next {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
}
.beyond-button-prev {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
}

.pageblocksl {
}
.imgsliderblock {
}
.imgslider {
}
.imgslider__container {
}
.slider-wrapper {
 @include slidershadow
}
.imgslider__slide {
    padding: 40px 7px;

}
.imgslider__item {

}
.imgslider__content {
  display: block;
  border-radius: 10px;

  &:hover {
    background: #FFFFFF;
    box-shadow: 4px 4px 40px rgba(48, 54, 64, 0.1);
  }
}
.imgslider__img {
  width: 230px;
  height: 143px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 6px;
}

.subscribeblock {
  padding: 37px 0;
  background: #04A3E9;
}
.subscribe {
}
.subscribe__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.subscribe__item {
}
.subscribe__image {
  margin-right: 17px;
}
.subscribe__img {
  width: 66px;
}
.subscribe__title {
  font-family: 'FuturaDemiC';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 100%;


color: #FFFFFF;
}
.subscribe__form {
  width: calc(100% - 459px);

}
.subscribe__formcontent {
  display: flex;
  align-items: center;
}
.subscribe__input {
  padding: 0 20px;
  height: 52px;
  background: #FFFFFF;
  border-radius: 8px;  
  width: calc(100% - 223px);
 
  input {
    display: block;
    width: 100%;
    background-image: url(../img/Mail.svg);
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-position: center left;
    border: none;
    padding-left: 33px;
    height: 52px;
    line-height: 52px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: rgba(37, 52, 79, 0.5);
  }
}
.subscribe__button {
  margin-left: 13px;
  button {
    width: 210px;
    background: #ED1E26;
    border-radius: 8px;
    display: block;
    border: none;
    line-height: 52px;
    height: 52px;
    font-family: 'FuturaDemiC';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */


    color: #FFFFFF;
  }
}
.subscribe__header {
  display: flex;
  align-items: center;
  margin-right: 52px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: rgba(37, 52, 79, 0.5);
}
::-moz-placeholder { /* Firefox 19+ */
  font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: rgba(37, 52, 79, 0.5);
}
:-ms-input-placeholder { /* IE 10+ */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: rgba(37, 52, 79, 0.5);
}
:-moz-placeholder { /* Firefox 18- */
  font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: rgba(37, 52, 79, 0.5);
}

.footer {
  background: #F8F8FB;
}
.footer__main {
  padding: 57px 0;
}
.footer__items {
  display: flex;
  margin: 0 -95px;
}
.footer__col {
  padding: 0 95px;
}
.footer__catalog {
}
.footer__title {
  font-family: 'FuturaDemiC';
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 30px;
  margin-bottom: 21px;
  color: #25344F;
}

.footer__menu {
  ul {
   
    @include clear;
    li {

      margin-bottom: 12px;
      a {
        padding: 7px 0;
        display: block;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 100%;
        
        color: #25344F;
      }
    }
  }
}
.footer__catalog {
 ul {
  column-count: 2;
  li {
    break-inside: avoid-column;
    width: 254px;
    margin-right: 94px;
    height: 36px;
  }
 }
}


@include large-screen {
  .headermenu {
    width: 100%;
    overflow: auto;
  }
}